<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Property-page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rufina%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica+Neue%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500"/>
  {% comment %} <link rel="stylesheet" href="./styles/property-page.css"/> {% endcomment %}
</head>
<body>
<div class="property-page-8kw">
  <div class="frame-2-cg7">
    <div class="frame-3-jkj">
      <img class="home-2Uw" src="{% static './assets/home-6X1.png' %}"/>
      <p class="indus-space-h5H">Indus Space</p>
    </div>
    <div class="frame-44-bRZ">
      <div class="auto-group-uhjp-8gP">
        <div class="links-eej">Home</div>
        <div class="links-hd1">Indus varsity</div>
      </div>
      <div class="auto-group-rpyh-CJs">
        <div class="frame-10-MSf">
          <div class="frame-8-7wd">
            <img class="profile-fTM" src="{% static './assets/profile-Urb.png' %}"/>
            <p class="register-sign-in-Zod">Register / Sign in</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-buwt-qm9">
    <div class="frame-171-Nm5">
      <div class="frame-13-LT1">
        <div class="image-3-rw9">
        </div>
        <div class="rectangle-6-9vF">
        </div>
        <div class="auto-group-dqnw-qHH">
          <img class="arrow-yPV" src="{% static './assets/arrow.png'%}"/>
          <img class="arrow-JAs" src="{% static './assets/arrow-6f9.png' %}"/>
        </div>
        <div class="auto-group-evvr-38T">
          <div class="auto-group-gag7-vT9">
            <div class="frame-19-FVR">
              <div class="auto-group-bgdm-bpB">
                <p class="sattva-ridges-by-sattva-group-9ao">
                  <span class="sattva-ridges-by-sattva-group-9ao-sub-0">Sattva Ridges</span>
                  <span class="sattva-ridges-by-sattva-group-9ao-sub-1"> </span>
                  <span class="sattva-ridges-by-sattva-group-9ao-sub-2">by </span>
                  <span class="sattva-ridges-by-sattva-group-9ao-sub-3">Sattva group</span>
                </p>
                <div class="hsr-layout-bangalore-yEP">HSR layout, Bangalore</div>
              </div>
              <div class="frame-74-WEK">
                <p class="bhk-TvF">1,2,3,4 BHK</p>
                <div class="auto-group-j6th-R6P">
                  <div class="line-5-kuM">
                  </div>
                  <p class="sqft-rhV">1000-1500 sqft</p>
                  <div class="line-6-CWT">
                  </div>
                  <p class="ready-to-occupy-t8P">Ready to occupy</p>
                </div>
              </div>
            </div>
            <div class="frame-76-cq5">
              <div class="rs86-lakhs-onwards-aX1">
                <span class="rs86-lakhs-onwards-aX1-sub-0">Rs.86 Lakhs </span>
                <span class="rs86-lakhs-onwards-aX1-sub-1">onwards</span>
              </div>
              <div class="frame-46-gCf">
                <div class="frame-8-1Vq">Book now</div>
              </div>
            </div>
          </div>
          <div class="frame-43-snw">
            <div class="ellipse-1-oRh">
            </div>
            <div class="ellipse-2-vWK">
            </div>
            <div class="ellipse-3-5PD">
            </div>
            <div class="ellipse-4-2ZM">
            </div>
          </div>
        </div>
      </div>
      <div class="bread-crumbs-8MV">
        <div class="breadcrumb-51q">
          <p class="first-item-C6T">Home</p>
          <p class="item--7z7">/</p>
          <p class="first-item-THH">Properties in bangalore</p>
          <p class="item--xjq">/</p>
          <p class="first-item-Vjm">Sattva Ridges</p>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-ivm5-dLB">
    <div class="confnigurations-bar-VtB">
      <div class="frame-44-Zd9">
        <div class="auto-group-fyom-uh1">
          <div class="frame-9-FF5">
            <div class="links-b43">Configurations</div>
          </div>
        </div>
        <div class="auto-group-awpd-gbH">
          <div class="auto-group-ggns-D5R">
            <div class="links-ins">Amenities</div>
          </div>
          <div class="links-BRZ">Map</div>
          <div class="links-doM">More details</div>
          <div class="links-7Td">About builder</div>
        </div>
      </div>
      <div class="frame-151-as1">Download brochure</div>
    </div>
    <div class="confnigurations-bar-Df5">
      <div class="frame-44-kuu">
        <div class="auto-group-kxxt-rxw">
          <div class="links-NgP">2 BHK</div>
        </div>
        <div class="auto-group-nbhr-rbZ">
          <div class="links-As9">3 BHK</div>
          <div class="links-sFm">4 BHK</div>
        </div>
      </div>
      <div class="frame-46-k4f">
        <div class="frame-8-V2F">View master plan</div>
      </div>
    </div>
    <div class="frame-163-9cb">
      <div class="confnigurations-bar-ubm">
        <div class="frame-160-Sbh">
          <p class="configuration-bUb">Configuration</p>
          <p class="room-size-8Dd">Room size</p>
          <p class="price-starting-3bV">Price (starting)</p>
          <p class="action-jDR">Action</p>
        </div>
      </div>
      <div class="auto-group-p4jr-PYs">
        <div class="confnigurations-bar-iLF">
          <div class="frame-161-GMm">
            <p class="bedroom-1-bath-1-balcony-1-kitchen-buq">1 Bedroom, 1 Bath, 1 Balcony, 1 Kitchen</p>
            <p class="sqft-J3Z">1000 sqft</p>
            <p class="rs865-lakhs-dbd">Rs.86.5 Lakhs</p>
          </div>
          <div class="frame-151-y9h">View floor plan</div>
        </div>
        <div class="confnigurations-bar-3QT">
          <div class="frame-161-Pz7">
            <p class="bedroom-1-bath-1-balcony-1-kitchen-LPZ">1 Bedroom, 1 Bath, 1 Balcony, 1 Kitchen</p>
            <p class="sqft-KmH">1000 sqft</p>
            <p class="rs882-lakhs-S5D">Rs.88.2 Lakhs</p>
          </div>
          <div class="frame-151-aBR">View floor plan</div>
        </div>
        <div class="confnigurations-bar-SUX">
          <div class="frame-161-kVD">
            <p class="bedroom-1-bath-1-balcony-1-kitchen-HEF">1 Bedroom, 1 Bath, 1 Balcony, 1 Kitchen</p>
            <p class="sqft-oiP">1000 sqft</p>
            <p class="rs89-lakhs-Yfy">Rs.89 Lakhs</p>
          </div>
          <div class="frame-151-h35">View floor plan</div>
        </div>
      </div>
    </div>
    <div class="confnigurations-bar-nqD">
      <div class="auto-group-wzb9-qHh">
        <p class="amenities-kvT">15+ Amenities</p>
        <img class="arrow-TZy" src="{% static './assets/arrow-H9Z.png'%}"/>
      </div>
    </div>


    <div class="frame-155-PTd">
{% comment %} 
      <div class="frame-152-HJ7">
        <div class="frame-105-ePZ">
          <img class="unsplash-mscgmhuirdo-pxF" src="{% static './assets/unsplash-mscgmhuirdo.png'%}"/>
        </div>
        <div class="frame-151-i23">Explore gym</div>
      </div> {% endcomment %}

      <div class="frame-153-ZoM">
        <div class="frame-105-iw9">
          <img class="unsplash-jpyrvvunqju-511" src="{% static './assets/unsplash-jpyrvvunqju.png'%}"/>
        </div>
        <div class="frame-152-oBu">Explore children play area</div>
      </div>

      
      <div class="frame-153-ZoM">
        <div class="frame-105-iw9">
          <img class="unsplash-jpyrvvunqju-511" src="{% static './assets/unsplash-jpyrvvunqju.png'%}"/>
        </div>
        <div class="frame-152-oBu">Explore children play area</div>
      </div>

      <div class="frame-154-aM5">
        <div class="frame-105-7bu">
          <div class="image-3-52w">
          </div>
        </div>
        <div class="frame-152-Yx7">Explore club house</div>
      </div>

    </div>
  </div>
  <div class="auto-group-ajbu-SGo">
    <div class="frame-133-wUT">
      <div class="frame-131-JK1">
        <div class="frame-129-Q79">
          <p class="price-range-jv7">Price range</p>
          <p class="l-25-cr-rUw">86 L - 2.5 Cr</p>
        </div>
        <div class="frame-133-MwV">
          <p class="total-area-6u5">TOTAL AREA</p>
          <p class="acres-DTu">5 acres</p>
        </div>
        <div class="frame-134-wuh">
          <p class="towers-4zK">TOWERS</p>
          <p class="item-5-CKq">5</p>
        </div>
        <div class="frame-135-WbR">
          <p class="floors-exX">FLOORS</p>
          <p class="item-10-Pv7">10</p>
        </div>
      </div>
      <div class="frame-133-vv3">
        <div class="frame-129-5H9">
          <p class="rera-id-c2B">RERA ID</p>
          <p class="pr-160124-006543-jcb">1251/472/PR/160124/006543</p>
        </div>
        <div class="frame-133-THh">
          <p class="price-range-Mts">Price range</p>
          <p class="cr-25-cr-FUT">1 Cr - 2.5 Cr</p>
        </div>
        <div class="frame-134-yfM">
          <p class="price-range-Vdh">Price range</p>
          <p class="cr-25-cr-xnB">1 Cr - 2.5 Cr</p>
        </div>
        <div class="frame-135-HpT">
          <p class="price-range-qLB">Price range</p>
          <p class="cr-25-cr-N5D">1 Cr - 2.5 Cr</p>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-w1yj-tpF">
    <div class="frame-128-F91">
      <div class="image-12-awy">
      </div>
      <div class="frame-127-4MM">
        <div class="frame-120-zko">
          <div class="frame-118-8MD">Connectivity</div>
          <div class="auto-group-hqbd-bVh">
            <div class="transport-w3m">Transport</div>
            <div class="entertainment-4eB">Entertainment</div>
          </div>
        </div>
        <div class="frame-126-o5y">
          <div class="frame-122-k1D">
            <div class="frame-121-tdD">
              <div class="schools-q2f">Schools</div>
              <img class="ph-plus-light-ZUT" src="{% static './assets/ph-plus-light.png'%}"/>
            </div>
            <div class="frame-125-UrK">
              <div class="frame-123-CGX">
                <div class="indus-universal-school-Ldd">Indus universal school</div>
                <div class="km-32F">2 km</div>
              </div>
              <div class="frame-125-Acf">
                <div class="delhi-public-school-Xy1">Delhi public school</div>
                <div class="km-3gT">4 km</div>
              </div>
              <div class="frame-126-nP9">
                <div class="delhi-public-school-9jV">Delhi public school</div>
                <div class="km-TVH">4 km</div>
              </div>
              <div class="frame-127-Q9d">
                <div class="delhi-public-school-xwq">Delhi public school</div>
                <div class="km-tKh">4 km</div>
              </div>
              <div class="frame-128-ohZ">
                <div class="delhi-public-school-aCX">Delhi public school</div>
                <div class="km-uVh">4 km</div>
              </div>
              <div class="frame-129-1od">
                <div class="delhi-public-school-n3h">Delhi public school</div>
                <div class="km-sL3">4 km</div>
              </div>
            </div>
          </div>
          <div class="auto-group-7jek-ojV">
            <div class="frame-123-Wto">
              <div class="frame-121-f11">
                <div class="hospitals-cB9">Hospitals</div>
                <img class="ph-plus-light-ijy" src="{% static './assets/ph-plus-light-ojM.png' %}"/>
              </div>
            </div>
            <div class="frame-124-po1">
              <div class="frame-121-mCT">
                <div class="techparks-Jy5">Techparks</div>
                <img class="ph-plus-light-qi7" src="{% static './assets/ph-plus-light-Jeb.png' %}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-134-6tw">
      <p class="the-sattva-ridges-project-stands-as-a-visionary-endeavor-seamlessly-blending-sustainable-development-with-modern-urban-living-nestled-amidst-lush-greenery-and-rolling-landscapes-this-ambitious-project-redefines-the-concept-of-harmonious-living-qLj">
      The Sattva Ridges Project stands as a visionary endeavor, seamlessly blending sustainable development with modern urban living. 
      <br/>
      Nestled amidst lush greenery and rolling landscapes, this ambitious project redefines the concept of harmonious living. 
      </p>
      <div class="frame-151-qV9">
        <div class="read-more-PFm">Read more</div>
        <img class="vector-J7q" src="{% static './assets/vector.png' %}"/>
      </div>
    </div>
  </div>
  <div class="auto-group-upgx-p6B">
    <div class="frame-164-6pP">
      <div class="frame-152-Qq5">
        <img class="unsplash-mscgmhuirdo-9nf" src="{% static './assets/unsplash-mscgmhuirdo-e2b.png' %} "/>
      </div>
      <div class="auto-group-yjoh-Fao">
        <p class="the-sattva-ridges-project-stands-as-a-visionary-endeavor-seamlessly-blending-sustainable-development-with-modern-urban-living-nestled-amidst-lush-greenery-and-rolling-landscapes-this-ambitious-project-redefines-the-concept-of-harmonious-living-designed-to-promote-environmental-conservation-and-community-well-being-sattva-ridges-boasts-a-plethora-of-amenities-aimed-at-fostering-a-balanced-lifestyle-from-eco-friendly-housing-options-to-state-of-the-art-recreational-facilities-every-aspect-of-this-project-reflects-a-commitment-to-sustainability-and-holistic-living-with-its-strategic-location-offering-serene-surroundings-and-easy-access-to-urban-conveniences-sattva-ridges-emerges-as-a-beacon-of-responsible-development-promising-residents-a-tranquil-sanctuary-where-nature-and-modernity-coexist-in-perfect-harmony-QTh">
        The Sattva Ridges Project stands as a visionary endeavor, seamlessly
        <br/>
        blending sustainable development with modern urban living. 
        <br/>
        Nestled amidst lush greenery and rolling landscapes, this ambitious 
        <br/>
        project redefines the concept of harmonious living. Designed to
        <br/>
        promote environmental conservation and community well-being,
        <br/>
        From eco-friendly housing options to state-of-the-art recreational
        <br/>
        facilities, every aspect of this project reflects a 
        <br/>
        commitment to sustainability and holistic living. With its strategic 
        <br/>
        location offering serene surroundings and easy access to urban 
        <br/>
        conveniences, 
        </p>
        <div class="frame-134-M9y">
          <div class="frame-129-su1">
            <p class="total-projects-RQj">TOTAL PROJECTS</p>
            <p class="item-20-MJP">20+</p>
          </div>
          <div class="frame-135-sXd">
            <p class="experience-oAP">EXPERIENCE</p>
            <p class="item-10-Xs5">10+</p>
          </div>
          <div class="frame-136-sAF">
            <p class="ongoing-projects-wR1">ONGOING PROJECTS</p>
            <p class="item-5-1fm">5+</p>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-150-KwM">
      <div class="you-may-also-be-interested-in-XnX">You may also be interested in</div>
      <div class="auto-group-fqbd-2UP">
        <div class="auto-group-gz7d-ZUK">
          <div class="frame-168-iMD">
            <div class="frame-165-dUB">
              <div class="frame-138-xmM">
                <div class="item-45-78T">4.5</div>
                <img class="group-5-Ruq" src="./assets/group-5-9qH.png"/>
              </div>
              <div class="frame-165-dUB-bg">
              </div>
            </div>
            <div class="frame-166-SK9">
              <div class="sattva-green-m6X">Sattva green</div>
              <div class="frame-167-VYK">Yeshwanthpur, karnataka</div>
            </div>
          </div>
          <img class="arrow-aJs" src="./assets/arrow-cbH.png"/>
        </div>
        <div class="frame-169-uM9">
          <div class="frame-165-rnB">
            <div class="frame-138-Cb9">
              <div class="item-45-7y1">4.5</div>
              <img class="group-5-CUf" src="./assets/group-5-9V1.png"/>
            </div>
            <div class="frame-165-rnB-bg">
            </div>
          </div>
          <div class="frame-166-4mm">
            <div class="sattva-green-P3M">Sattva green</div>
            <div class="frame-167-Wdm">Yeshwanthpur, karnataka</div>
          </div>
        </div>
        <div class="auto-group-vbkd-Nfy">
          <div class="frame-170-8QF">
            <div class="frame-165-ssd">
              <div class="frame-138-pXy">
                <div class="item-45-kAj">4.5</div>
                <img class="group-5-gKH" src="./assets/group-5-qM1.png"/>
              </div>
              <div class="frame-165-ssd-bg">
              </div>
            </div>
            <div class="frame-166-J5m">
              <div class="sattva-green-EVD">Sattva green</div>
              <div class="frame-167-Z1h">Yeshwanthpur, karnataka</div>
            </div>
          </div>
          <img class="arrow-Tsm" src="./assets/arrow-M8B.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-PWX">
    <div class="frame-34-vFZ">
      <div class="auto-group-pyqr-Fod">
        <div class="group-2-cPH">
          <div class="frame-3-ZZR">
            <img class="home-Tuh" src="./assets/home-Aab.png"/>
            <p class="indus-space-Q4F">Indus Space</p>
          </div>
          <p class="your-goto-hotspot-for-your-next-home-tVD">Your goto hotspot for your next home</p>
        </div>
        <div class="frame-27-oMH">
          <p class="company-xjy">Company</p>
          <div class="frame-26-gAB">
            <p class="about-pGP">About</p>
            <p class="jobs-xdV">Jobs</p>
            <div class="auto-group-7ozz-JhM">Contact us</div>
          </div>
        </div>
      </div>
      <div class="frame-29-o8K">
        <p class="explore-Xa7">Explore</p>
        <div class="frame-28-GXh">
          <p class="bellandur-qjD">Bellandur</p>
          <p class="hsr-layout-PEw">HSR layout</p>
          <p class="whitefield-w1Z">Whitefield</p>
          <p class="indiranagar-5tT">Indiranagar</p>
          <p class="malleshwaram-xxF">Malleshwaram</p>
          <p class="electronic-city-7aF">Electronic city</p>
          <p class="see-more-SsR">See more</p>
        </div>
      </div>
      <div class="auto-group-dkxu-ngP">
        <div class="frame-31-jrX">
          <p class="terms-and-policies-JPq">Terms and policies</p>
          <div class="frame-30-EHV">
            <p class="privacy-policy-M7D">Privacy policy</p>
            <p class="terms-of-use-gvB">Terms of use</p>
            <p class="accessibility-Ego">Accessibility</p>
          </div>
        </div>
        <div class="frame-33-nCX">
          <p class="help-wr7">Help</p>
          <div class="frame-32-U5M">
            <p class="support-Cn3">Support</p>
            <p class="cancel-your-bookings-7PD">Cancel your bookings</p>
            <p class="refund-policies-qKD">Refund policies</p>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-24-Zm1">
      <div class="frame-23-JyV">
        <img class="copyright-1-fp3" src="{% static './assets/copyright-1-KoD.png' %}"/>
        <p class="indus-space-2023-oQT">Indus Space 2023</p>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock %}
