
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-Gby {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 2.6rem 0.6rem 43.354rem 0.8rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:c81d0aff8bc51be9f2d7df3187c0de82a7aa85e8');
  width: 100%;
  align-items: center;

  .auto-group-rpao-CkX {
    height: 5.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 1.4rem 35.6rem 1.2rem;
    width: calc(100% - 2.6rem);

    .frame-116-jEf {
      background-color: #ffffff;
      letter-spacing: 0.03rem;
      color: #000000;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-family: Darker Grotesque, 'Source Sans Pro';
      justify-content: center;
      width: 9.2rem;
      height: calc(100% - 1.2rem);
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.6rem 125.6rem 0.6rem 0rem;
      font-size: 1.5rem;
      line-height: 1.3333333333;
    }
    .frame-117-MG3 {
      width: 5.2rem;
      height: 5.2rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-xkzf-g3R {
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .arrow-Eaj {
      border-radius: 5rem;
      flex-shrink: 0;
      margin-right: 135.6rem;
      width: 3.5rem;
      height: 3.2455rem;
      object-fit: contain;
      vertical-align: top;
    }
    .arrow-M9Z {
      width: 3.5rem;
      height: 3.2455rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5rem;
      flex-shrink: 0;
    }
  }
}
