
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.75rem;
}.frame-159-K19 {
  height: 62.6rem;
  width: 100%;

  .frame-155-fqh {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .frame-105-2gF {
      padding-top: 113.4849rem;
      border: solid 0.1061rem #000000;
      background-image: url('REPLACE_IMAGE:631bf0607e5656b1a816f7adfb41bb77798c24d0');
      margin: 0rem 0rem 2.9rem 0.05rem;
      width: 50.7rem;
      background-repeat: no-repeat;
      cursor: pointer;
      background-position: center;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 51.5rem;
      overflow: hidden;
      position: relative;
      background-size: 100% 100%;

      .unsplash-mscgmhuirdo-9ks {
        width: 203.6364rem;
        height: 135.9381rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .sqft-Dkj {
      justify-content: center;
      letter-spacing: 0.048rem;
      font-family: Jost, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.15rem;
      display: flex;
      align-items: center;
      line-height: 0.8333333333;
      color: #000000;
      white-space: nowrap;
      width: 100%;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .frame-152-guD {
      justify-content: center;
      font-weight: 400;
      color: #000000;
      margin-right: 37.15rem;
      display: flex;
      align-items: center;
      font-size: 2rem;
      box-sizing: border-box;
      flex-shrink: 0;
      font-family: Jost, 'Source Sans Pro';
      height: 3.05rem;
      line-height: 1;
      letter-spacing: 0.04rem;
      white-space: nowrap;
      border-bottom: solid 0.1rem #000000;
    }
  }
}
