
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.6rem;
}.frame-18-GaT {
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:ce1ac5ab0b64e014fa0a9ac1f1b9d22c78d36b85');
  border-radius: 0.8rem;
  position: relative;
  height: 26.8rem;
  width: 100%;

  .rectangle-6-23q {
    background: linear-gradient(0.64deg, #0a0909 -7.2%, rgba(10, 9, 9, 0) 44.29%);
    width: 41.4rem;
    height: 26.7rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
  }
  .frame-19-UwR {
    top: 19.3rem;
    width: 24.1rem;
    height: 5.3rem;
    position: absolute;
    left: 2.9rem;

    .brigade-group-Du1 {
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.6rem;
      font-size: 2rem;
    }
    .duplex-apartments-in-electronic-city-LTq {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
