
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 127.8rem;
}.frame-43-s9h {
  position: relative;
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 0.8rem;
  box-sizing: border-box;
  padding: 0rem 5.03rem 0rem 2.9rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.2rem #e0e0e0;

  .auto-group-c1pm-zVD {
    margin: 2.1rem 27.6rem 0rem 0rem;
    width: 63.5rem;
    flex-shrink: 0;

    .frame-19-L3H {
      flex-direction: column;
      margin-bottom: 2.2rem;
      width: 100%;
      display: flex;

      .free-and-open-real-estate-education-HjD {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
      .indus-varsity-is-free-and-open-real-estate-education-book-so-as-to-make-the-right-decesion-while-buying-an-apartment-villa-or-any-other-property-D75 {
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 63.5rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .frame-16-sBd {
      background-color: #3f36ea;
      width: 12.9rem;
      font-weight: 500;
      letter-spacing: 0.03rem;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 0.6rem;
      font-size: 1.5rem;
      line-height: 1.3333333333;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.4rem;
      color: #ffffff;
    }
  }
  .auto-group-nioz-AAj {
    height: 24.8663rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 2.0364rem;
    width: 28.7698rem;
  }
}
