
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.3rem;
}.frame-68-YrT {
  padding-right: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 0.8rem;
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-start;
  border: solid 0.1rem #e0e0e0;
  background-color: #ffffff;

  .image-5-2Wj {
    margin-right: 1rem;
    width: 10rem;
    height: 18.8rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-trwq-v6K {
    flex-shrink: 0;
    margin-top: 0.85rem;
    width: 24.3rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    .auto-group-j1zq-3wd {
      margin-bottom: 1.1rem;
      width: 100%;
      height: 6.5rem;
      flex-shrink: 0;

      .frame-63-aRm {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .frame-62-8y5 {
          margin-bottom: 0.3rem;
          display: flex;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2575;
          letter-spacing: 0.036rem;
          font-family: Helvetica Neue, 'Source Sans Pro';
        }
        .frame-61-STy {
          width: 13.8rem;
          flex-shrink: 0;

          .frame-59-oZR {
            margin: 0rem 3.72rem 0.1rem 0rem;
            width: calc(100% - 3.72rem);
            display: flex;
            align-items: center;

            .item-45-iRV {
              letter-spacing: 0.026rem;
              white-space: nowrap;
              display: flex;
              font-weight: 400;
              line-height: 1.399999912;
              font-family: Helvetica Neue, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 1rem;
              font-size: 1.3rem;
              color: #4f4f4f;
            }
            .group-5-pDd {
              height: 1.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 7.38rem;
            }
          }
          .yeswanthpur-karnataka-Zh1 {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.399999912;
            letter-spacing: 0.026rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
        }
      }
    }
    .rs86-lakhs-onwards-c9V {
      text-align: right;
      display: flex;
      font-family: Helvetica Neue, 'Source Sans Pro';
      align-items: baseline;
      margin-right: 0.1rem;
      font-weight: 500;
      line-height: 1.2575;
      letter-spacing: 0.032rem;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;

      .rs86-lakhs-onwards-c9V-sub-0 {
      }
      .rs86-lakhs-onwards-c9V-sub-1 {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.2575;
        letter-spacing: 0.032rem;
        color: #4f4f4f;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
    }
  }
}
