
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 141.95rem;
}.group-9-2YX {
  width: 100%;
  display: flex;
  align-items: center;

  .frame-155-xBH {
    height: 62.6rem;
    flex-shrink: 0;
    margin-right: 87.7rem;
    width: 50.75rem;

    .frame-105-UvK {
      box-sizing: border-box;
      padding-top: 113.4849rem;
      width: 50.7rem;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      border: solid 0.1061rem #000000;
      margin: 0rem 0rem 2.9rem 0.05rem;
      background-image: url('REPLACE_IMAGE:631bf0607e5656b1a816f7adfb41bb77798c24d0');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 51.5rem;

      .unsplash-mscgmhuirdo-9Fm {
        width: 203.6364rem;
        height: 135.9381rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .sqft-cv3 {
      display: flex;
      letter-spacing: 0.048rem;
      margin-bottom: 3.15rem;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 0.8333333333;
      color: #000000;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-152-hRh {
      margin-right: 37.15rem;
      line-height: 1;
      color: #000000;
      box-sizing: border-box;
      height: 3.05rem;
      font-family: Jost, 'Source Sans Pro';
      justify-content: center;
      font-size: 2rem;
      letter-spacing: 0.04rem;
      border-bottom: solid 0.1rem #000000;
      display: flex;
      align-items: center;
      font-weight: 400;
      white-space: nowrap;
    }
  }
  .arrow-9oV {
    margin-bottom: 19.7545rem;
    width: 3.5rem;
    height: 3.2455rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 5rem;
    flex-shrink: 0;
  }
}
