
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage-before-login-final-1-Kbm {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfe;

  .frame-2-idu {
    box-sizing: border-box;
    padding: 1.2rem 2rem;
    height: 6.8rem;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fbfbfe;

    .frame-3-WCP {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 1rem 86.4rem 0.9rem 0rem;
      box-sizing: border-box;
      padding: 0.13rem 0rem 0rem 0.075rem;
      height: calc(100% - 1.9rem);

      .home-LhD {
        flex-shrink: 0;
        margin: 0rem 0.675rem 0.175rem 0rem;
        width: 2.2495rem;
        height: 2.1953rem;
        object-fit: contain;
        vertical-align: top;
      }
      .indus-space-q8B {
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0703rem;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
    .frame-44-VTd {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-cvgf-3EF {
        box-sizing: border-box;
        padding: 0.2rem 0.7rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .links-Ywh {
          font-size: 1.5rem;
          letter-spacing: 0.03rem;
          color: #000000;
          white-space: nowrap;
          width: 7.9rem;
          height: 100%;
          line-height: 1.3333333333;
          display: flex;
          justify-content: center;
          border-radius: 0.6rem;
          cursor: pointer;
          font-family: Helvetica Neue, 'Source Sans Pro';
          margin-right: 0.7rem;
          font-weight: 500;
          align-items: center;
          flex-shrink: 0;
        }
        .links-zHu {
          white-space: nowrap;
          width: 12.8rem;
          font-weight: 500;
          display: flex;
          cursor: pointer;
          line-height: 1.3333333333;
          color: #4f4f4f;
          font-family: Helvetica Neue, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          font-size: 1.5rem;
          letter-spacing: 0.03rem;
          border-radius: 0.6rem;
          height: 100%;
          align-items: center;
        }
      }
      .auto-group-hq9r-3my {
        width: 19.4rem;
        height: 100%;
        flex-shrink: 0;

        .frame-10-boV {
          width: 100%;
          height: 100%;

          .frame-8-wsM {
            border-radius: 0.6rem;
            padding: 1.2rem 3.2rem 1.2rem 2.4rem;
            width: 100%;
            border: solid 0.1rem #3f36ea;
            align-items: center;
            background-color: #3f36ea;
            box-sizing: border-box;
            height: 100%;
            display: flex;

            .profile-4DD {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.6rem 0.001rem 0rem;
              width: 1.1995rem;
              height: 1.6494rem;
            }
            .register-sign-in-9kT {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              letter-spacing: 0.03rem;
              color: #ffffff;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .frame-13-a55 {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 64.5rem;
    position: relative;

    .image-3-KHZ {
      width: 144.6rem;
      height: 64.4rem;
      position: relative;
      left: 0;
      top: 0.1rem;
      background-size: 100% 151.297%;
      background-position: 0 -21.9678rem;
      background-image: url('REPLACE_IMAGE:7d31e6502193297476db217979f2127cdb05cca0');
    }
    .rectangle-6-B4s {
      width: 144rem;
      height: 64.4rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
      background: linear-gradient(0.64deg, #0a0909 -7.2%, rgba(10, 9, 9, 0) 44.29%);
    }
    .arrow-sTV {
      left: 138.5rem;
      top: 30.6rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5rem;
      width: 3.5rem;
      height: 3.2455rem;
      position: absolute;
    }
    .arrow-aco {
      object-fit: contain;
      vertical-align: top;
      border-radius: 5rem;
      width: 3.5rem;
      height: 3.2455rem;
      position: absolute;
      left: 1.9rem;
      top: 30.6rem;
    }
    .frame-47-VDy {
      position: absolute;
      left: 1.9rem;
      align-items: center;
      box-sizing: border-box;
      width: 140.1rem;
      top: 52.6rem;
      display: flex;
      padding-right: 0.6442rem;
      height: 7.8rem;

      .frame-19-CeB {
        margin-right: 105.0398rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .sattva-group-Kio {
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.235;
          color: #ffffff;
          font-family: Rufina, 'Source Sans Pro';
          white-space: nowrap;
        }
        .premium-luxury-villas-in-hsr-layout-27R {
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
        }
      }
      .heart-uBD {
        margin-bottom: 0.7917rem;
        width: 4.716rem;
        height: 4.262rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-43-Sgw {
      top: 60.9rem;
      display: flex;
      column-gap: 0.8rem;
      align-items: center;
      width: 6rem;
      height: 1.2rem;
      position: absolute;
      left: 68.9rem;

      .ellipse-1-ZmZ {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
      }
      .ellipse-2-u4j {
        height: 0.8rem;
        background-color: #818181;
        border-radius: 0.4rem;
        flex-shrink: 0;
        width: 0.8rem;
      }
      .ellipse-3-CZd {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #818181;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
      .ellipse-4-9Us {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #818181;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-hmbu-H5H {
    flex-shrink: 0;
    width: 100%;
    height: 97.5rem;
    position: relative;

    .image-12-brf {
      background-position: -1.1662rem 0;
      background-image: url('REPLACE_IMAGE:b761e5d4c490c032d8d1021596d8db2ed3272745');
      border-radius: 0 0.9rem 0.9rem 0;
      height: 87.5rem;
      position: relative;
      top: 10rem;
      background-size: 104.122% 100%;
      width: 105.1rem;
      left: 36.9rem;
    }
    .frame-26-UQf {
      color: #ffffff;
      background-color: #3f36ea;
      position: absolute;
      top: 11.3rem;
      font-weight: 500;
      line-height: 1.125;
      box-shadow: 0 0.4rem 3.7rem rgba(0, 0, 0, 0.25);
      width: 26.9rem;
      height: 2.6rem;
      left: 58.5rem;
      font-size: 1.6rem;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 0.6rem;
      box-sizing: border-box;
      padding: 0.4rem 0.8rem;
      letter-spacing: 0.032rem;
    }
    .controls-zoom-controls-5vF {
      background-color: #ffffff;
      border-radius: 0.8rem;
      padding: 0.8rem 0.4rem 1.2rem 0.4rem;
      width: 3.2rem;
      height: 6rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.200000003);
      box-sizing: border-box;
      position: absolute;
      left: 137.3rem;
      top: 88.7rem;

      .union-NuM {
        margin-bottom: 1.1rem;
        width: 1rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-2-XnF {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 0.1rem;
        background-color: #e6e6e6;
        flex-shrink: 0;
      }
      .union-4GP {
        margin: 0 0.7rem;
        width: calc(100% - 1.4rem);
        height: 0.2rem;
        background-color: #666666;
        flex-shrink: 0;
      }
    }
    .group-4-Lzb {
      width: 3.2rem;
      height: 2rem;
      position: absolute;
      left: 131.2rem;
      top: 19.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .image-15-tFR {
      background-image: url('REPLACE_IMAGE:3f99b8bbfc475c8fbe063a32c8444ed3c0c25140');
      border-radius: 0.3182rem;
      width: 3.5rem;
      height: 3.5rem;
      position: relative;
      left: 133.4rem;
      top: 91.2rem;
      background-size: 100% 103.185%;
      background-position: 0 0;
    }
    .vector-2-kYX {
      left: 131.9rem;
      top: 20.4rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.02rem;
      width: 0.3rem;
      height: 0.25rem;
      position: absolute;
    }
    .frame-70-rrT {
      width: 3.7rem;
      position: absolute;
      left: 48.5rem;
      vertical-align: top;
      height: 4rem;
      cursor: pointer;
      top: 11.6rem;
      object-fit: contain;
      border-radius: 0 0.8rem 0.8rem 0;
    }
    .search-bar-kB9 {
      padding: 2rem 18rem 0rem 18.1rem;
      width: 144rem;
      height: 24.8rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      box-sizing: border-box;

      .navbar-FNo {
        width: 100%;
        height: 24.3rem;

        .frame-13-Coq {
          padding: 0.9rem 1.2rem;
          width: 100%;
          height: 6.2rem;
          position: relative;
          box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.150000006);
          margin-bottom: 18.1rem;
          box-sizing: border-box;
          border-radius: 0.8rem;
          overflow: hidden;
          background-color: #ffffff;

          .frame-15-Lf9 {
            align-items: center;
            width: 100%;
            height: 100%;
            display: flex;
            column-gap: 1.2rem;

            .auto-group-6iyv-sf5 {
              width: 49.1rem;
              height: 100%;
              flex-shrink: 0;

              .frame-14-deF {
                white-space: nowrap;
                border-radius: 0.4rem;
                width: 100%;
                height: 100%;
                letter-spacing: 0.028rem;
                color: #4f4f4f;
                line-height: 1.4000000272;
                font-family: Helvetica Neue, 'Source Sans Pro';
                background-color: #f2f2f2;
                box-sizing: border-box;
                padding: 1.2rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
            .frame-15-s2o {
              padding: 1.2rem 1.372rem 1.2rem 1.2rem;
              height: 100%;
              cursor: pointer;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              background-color: #f2f2f2;
              border-radius: 0.4rem;
              flex-shrink: 0;

              .auto-group-ukfh-bjV {
                height: 100%;
                letter-spacing: 0.028rem;
                font-family: Helvetica Neue, 'Source Sans Pro';
                display: flex;
                align-items: center;
                margin-right: 9.072rem;
                width: 6.3rem;
                justify-content: center;
                line-height: 1.4000000272;
                color: #4f4f4f;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .arrow-down-1-tCo {
                margin-top: 0.0665rem;
                width: 1.056rem;
                height: 0.4732rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .frame-16-yEF {
              height: 100%;
              display: flex;
              flex-shrink: 0;
              padding: 1.2rem 1.372rem 1.2rem 1.2rem;
              cursor: pointer;
              align-items: center;
              background-color: #f2f2f2;
              border-radius: 0.4rem;
              box-sizing: border-box;

              .auto-group-rsv1-erB {
                margin-right: 6.972rem;
                height: 100%;
                justify-content: center;
                letter-spacing: 0.028rem;
                color: #4f4f4f;
                width: 8.4rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4000000272;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-shrink: 0;
              }
              .arrow-down-1-un7 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.0665rem;
                width: 1.056rem;
                height: 0.4732rem;
              }
            }
            .frame-13-QD5 {
              font-size: 1.5rem;
              line-height: 1.3333333333;
              justify-content: center;
              background-color: #3f36ea;
              font-weight: 400;
              font-family: Helvetica Neue, 'Source Sans Pro';
              display: flex;
              border-radius: 0.6rem;
              width: 14.8rem;
              color: #ffffff;
              flex-shrink: 0;
              height: 100%;
              letter-spacing: 0.03rem;
              white-space: nowrap;
              align-items: center;
            }
          }
        }
      }
    }
    .frame-72-om1 {
      vertical-align: top;
      width: 4rem;
      height: 87.5rem;
      position: absolute;
      left: 0;
      top: 10rem;
      object-fit: contain;
    }
    .listing-prop-id5 {
      left: 4rem;
      font-size: 1.8rem;
      font-weight: 500;
      border: solid 0.1rem #e0e0e0;
      background-color: #ffffff;
      padding: 2.4rem 1.8rem;
      width: 44.5rem;
      height: 87.5rem;
      overflow: hidden;
      line-height: 1.2575;
      color: #181818;
      box-shadow: 0.4rem 0.4rem 2.5rem rgba(0, 0, 0, 0.150000006);
      letter-spacing: 0.018rem;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      box-sizing: border-box;
      position: absolute;
      top: 10rem;
    }
    .mappins-uhZ {
      align-items: center;
      width: 67.275rem;
      height: 54.675rem;
      position: absolute;
      left: 5.8rem;
      top: 17.15rem;
      display: flex;

      .auto-group-vtmy-oY3 {
        margin: 0rem 11.813rem 11.25rem 0rem;
        width: 40.8375rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-59-vsZ {
          box-sizing: border-box;
          width: 100%;
          cursor: pointer;
          position: relative;
          align-items: center;
          overflow: hidden;
          display: flex;
          background-color: #ffffff;
          height: 21.15rem;
          border-radius: 0.9rem;
          flex-shrink: 0;
          margin-bottom: 1.125rem;
          padding-right: 1.125rem;
          border: solid 0.1125rem #e0e0e0;

          .image-5-rWK {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.125rem;
            width: 11.25rem;
            height: 21.15rem;
            object-fit: cover;
          }
          .auto-group-e9vh-C4P {
            flex-shrink: 0;
            margin: 0.963rem 0rem 1.462rem 0rem;
            width: 27.3375rem;
            height: calc(100% - 2.425rem);
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-jv3m-VJP {
              width: 100%;
              height: 7.275rem;
              flex-shrink: 0;

              .frame-63-3ao {
                flex-direction: column;
                width: 100%;
                height: 100%;
                display: flex;

                .frame-62-yDZ {
                  box-sizing: border-box;
                  padding-right: 0.2416rem;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-bottom: 0.325rem;

                  .sattva-regency-hfM {
                    font-weight: 500;
                    display: flex;
                    font-size: 2.025rem;
                    line-height: 1.2575;
                    letter-spacing: 0.0405rem;
                    color: #000000;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-right: 12.3274rem;
                    flex-shrink: 0;
                  }
                  .heart-ZxT {
                    margin-bottom: 0.0219rem;
                    width: 1.7685rem;
                    height: 1.5983rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .frame-61-i4f {
                  width: 15.5rem;
                  flex-shrink: 0;

                  .frame-59-sTM {
                    margin: 0rem 4.198rem 0.15rem 0rem;
                    width: calc(100% - 4.1975rem);
                    display: flex;
                    align-items: center;

                    .item-45-oro {
                      letter-spacing: 0.0292rem;
                      font-family: Helvetica Neue, 'Source Sans Pro';
                      margin-right: 1rem;
                      display: flex;
                      font-size: 1.4625rem;
                      font-weight: 400;
                      line-height: 1.3999999478;
                      color: #4f4f4f;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .group-5-g9u {
                      height: 2.025rem;
                      position: relative;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-top: 0.025rem;
                      width: 8.3025rem;
                    }
                  }
                  .yeswanthpur-karnataka-bnf {
                    color: #4f4f4f;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.4625rem;
                    font-weight: 400;
                    line-height: 1.3999999478;
                    letter-spacing: 0.0292rem;
                  }
                }
              }
            }
            .auto-group-zisk-Wud {
              box-sizing: border-box;
              padding-top: 1.275rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .frame-60-ryV {
                margin-bottom: 1.275rem;
                row-gap: 0.15rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .bhk-apartments-Nwq {
                  display: flex;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 0.225rem;
                  font-weight: 400;
                  line-height: 1.3999999478;
                  letter-spacing: 0.0292rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  font-size: 1.4625rem;
                }
                .under-construction-gBq {
                  font-size: 1.4625rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  line-height: 1.3999999478;
                  letter-spacing: 0.0292rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  margin-left: 0.225rem;
                  display: flex;
                  font-weight: 400;
                }
                .sqft-VQB {
                  display: flex;
                  font-size: 1.4625rem;
                  letter-spacing: 0.0292rem;
                  flex-shrink: 0;
                  font-weight: 400;
                  line-height: 1.3999999478;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .rs86-lakhs-onwards-RYj {
                margin-left: 12.025rem;
                text-align: right;
                display: flex;
                font-size: 1.8rem;
                letter-spacing: 0.036rem;
                font-weight: 500;
                line-height: 1.2575;
                color: #000000;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;
                flex-shrink: 0;

                .rs86-lakhs-onwards-RYj-sub-0 {
                }
                .rs86-lakhs-onwards-RYj-sub-1 {
                  line-height: 1.2575;
                  letter-spacing: 0.036rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  font-size: 1.4625rem;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .frame-60-gFh {
          box-sizing: border-box;
          height: 21.15rem;
          cursor: pointer;
          position: relative;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          padding-right: 1.125rem;
          width: 100%;
          overflow: hidden;
          display: flex;
          border: solid 0.1125rem #e0e0e0;
          border-radius: 0.9rem;

          .image-3-1om {
            width: 11.25rem;
            height: 21.15rem;
            position: relative;
            background-size: 370% 151.297%;
            background-position: -17.8875rem -7.2146rem;
            background-image: url('REPLACE_IMAGE:7d31e6502193297476db217979f2127cdb05cca0');
            flex-shrink: 0;
            margin-right: 1.125rem;
          }
          .auto-group-jsf9-guu {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.963rem 0rem 1.575rem 0rem;
            width: 27.3375rem;
            height: calc(100% - 2.5375rem);

            .auto-group-bmxk-BLs {
              width: 100%;
              height: 7.275rem;
              flex-shrink: 0;

              .frame-63-j7V {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .frame-62-5x3 {
                  margin-bottom: 0.325rem;
                  box-sizing: border-box;
                  padding-right: 0.2416rem;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .sattva-regency-38B {
                    margin-right: 12.3274rem;
                    display: flex;
                    font-weight: 500;
                    color: #000000;
                    white-space: nowrap;
                    font-size: 2.025rem;
                    line-height: 1.2575;
                    letter-spacing: 0.0405rem;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .heart-koH {
                    height: 1.5983rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.0219rem;
                    width: 1.7685rem;
                  }
                }
                .frame-61-VVy {
                  flex-shrink: 0;
                  width: 13.3rem;

                  .frame-59-43H {
                    margin: 0rem 1.998rem 0.15rem 0rem;
                    width: calc(100% - 1.9975rem);
                    display: flex;
                    align-items: center;

                    .item-40-nzs {
                      font-weight: 400;
                      line-height: 1.3999999478;
                      letter-spacing: 0.0292rem;
                      font-family: Helvetica Neue, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 1rem;
                      font-size: 1.4625rem;
                      color: #4f4f4f;
                      display: flex;
                    }
                    .group-5-idd {
                      height: 2.025rem;
                      position: relative;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-top: 0.025rem;
                      width: 8.3025rem;
                    }
                  }
                  .jp-nagar-karnataka-4hV {
                    line-height: 1.3999999478;
                    letter-spacing: 0.0292rem;
                    color: #4f4f4f;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.4625rem;
                    font-weight: 400;
                  }
                }
              }
            }
            .auto-group-mduj-Bn7 {
              padding-top: 1.275rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;

              .frame-60-vDu {
                flex-shrink: 0;
                margin-bottom: 1.1625rem;
                row-gap: 0.15rem;
                display: flex;
                flex-direction: column;

                .bhk-duplex-villas-2nj {
                  flex-shrink: 0;
                  font-size: 1.4625rem;
                  font-weight: 400;
                  line-height: 1.3999999478;
                  letter-spacing: 0.0292rem;
                  color: #4f4f4f;
                  margin-left: 0.225rem;
                  display: flex;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .ready-to-occupy-kyd {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4625rem;
                  font-weight: 400;
                  line-height: 1.3999999478;
                  letter-spacing: 0.0292rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  margin-left: 0.225rem;
                  display: flex;
                }
                .sqft-soM {
                  font-size: 1.4625rem;
                  letter-spacing: 0.0292rem;
                  flex-shrink: 0;
                  display: flex;
                  line-height: 1.3999999478;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                  font-weight: 400;
                }
              }
              .rs2-crore-onwards-cF9 {
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;
                margin-left: 13.325rem;
                text-align: right;
                font-weight: 500;
                line-height: 1.2575;
                letter-spacing: 0.036rem;
                color: #000000;
                flex-shrink: 0;
                display: flex;
                font-size: 1.8rem;

                .rs2-crore-onwards-cF9-sub-0 {
                }
                .rs2-crore-onwards-cF9-sub-1 {
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: 0.036rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  font-size: 1.4625rem;
                }
              }
            }
          }
        }
      }
      .pin-point-g8X {
        height: 5.5125rem;
        cursor: pointer;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 8.775rem 8.663rem 0rem;
        width: 2.925rem;
      }
      .pin-point-yNX {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 49.1625rem;
        width: 2.925rem;
        height: 5.5125rem;
        position: relative;
        object-fit: contain;
      }
    }
    .frame-70-ib1 {
      height: 19rem;
      position: absolute;
      left: 29.6rem;
      top: 11.5rem;
      box-sizing: border-box;
      padding-left: 5.7rem;
      width: 17rem;

      .frame-69-dCB {
        box-sizing: border-box;
        padding: 1rem 2.072rem 1rem 1.8rem;
        width: 100%;
        border: solid 0.1rem #e0e0e0;
        height: 4rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 0.6rem;

        .sort-by-kXh {
          white-space: nowrap;
          margin-right: 1.672rem;
          font-size: 1.5rem;
          line-height: 1.3333333333;
          letter-spacing: 0.03rem;
          font-family: Helvetica Neue, 'Source Sans Pro';
          font-weight: 400;
          color: #000000;
          flex-shrink: 0;
        }
        .arrow-down-1-H1q {
          flex-shrink: 0;
          margin-top: 0.0665rem;
          width: 1.056rem;
          height: 0.4732rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-wvsd-kg7 {
    box-sizing: border-box;
    padding: 2rem 2rem 6.3rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .search-bar-HAF {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 16.1rem 1.9rem 16rem;
      width: calc(100% - 32.1rem);
      height: 6.2rem;
      overflow: hidden;
    }
    .frame-43-1M9 {
      width: 100%;
      height: 26.8rem;
      position: relative;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.400000006);
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin-bottom: 4.8rem;

      .frame-16-JLF {
        width: 12.9rem;
        left: 2.9rem;
        font-weight: 500;
        line-height: 1.3333333333;
        font-family: Helvetica Neue, 'Source Sans Pro';
        justify-content: center;
        background-color: #3f36ea;
        border-radius: 0.6rem;
        top: 17.5rem;
        letter-spacing: 0.03rem;
        color: #ffffff;
        white-space: nowrap;
        align-items: center;
        height: 4.4rem;
        position: absolute;
        font-size: 1.5rem;
        display: flex;
      }
      .wepik-export-202402151333462i9l-1-mDq {
        background-position: -0.319rem -11.2266rem;
        background-image: url('REPLACE_IMAGE:d476f5393206f6ec6082215484fd794586ed0c48');
        width: 87.3rem;
        height: 39.8rem;
        position: relative;
        left: 52.7rem;
        top: -13rem;
        background-size: 100.365% 156.415%;
      }
      .rectangle-6-QXh {
        background: linear-gradient(135deg, #0a0909 NaN%, rgba(10, 9, 9, 0) NaN%);
        width: 103.1rem;
        height: 41.4rem;
        position: absolute;
        left: 35.4rem;
        top: -7.3rem;
      }
      .frame-19-iYP {
        top: 7rem;
        width: 63.5rem;
        height: 8.3rem;
        position: absolute;
        left: 2.9rem;

        .free-and-open-real-estate-education-q7D {
          font-weight: 700;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
          font-size: 2.8rem;
        }
        .indus-varsity-is-free-and-open-real-estate-education-book-so-as-to-make-the-right-decesion-while-buying-an-apartment-villa-or-any-other-property-MbM {
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
          max-width: 63.5rem;
          font-size: 1.6rem;
        }
      }
    }
    .frame-17-zPR {
      margin-bottom: 4.6rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .partners-wpT {
        margin-bottom: 0.6rem;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .our-interior-design-and-packing-partners-are-listed-below-VLB {
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
      }
    }
    .auto-group-f6sb-cQo {
      height: 26.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .frame-18-N95 {
        position: relative;
        overflow: hidden;
        background-color: #3f36ea;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin-right: 2.5rem;
        width: 74.4rem;
        height: 100%;

        .image-7-FCs {
          position: absolute;
          left: 0;
          top: -4.4rem;
          object-fit: cover;
          vertical-align: top;
          width: 84.6rem;
          height: 35.6rem;
        }
        .rectangle-6-nTh {
          height: 41.4rem;
          position: absolute;
          left: 0;
          top: -7.3rem;
          background: linear-gradient(135deg, #0a0909 NaN%, rgba(10, 9, 9, 0) NaN%);
          width: 84.6rem;
        }
        .frame-19-uHR {
          height: 9.3rem;
          position: absolute;
          left: 2.9rem;
          top: 5.8rem;
          width: 42.7rem;

          .interior-design-partners-eF1 {
            line-height: 1.2575;
            color: #ffffff;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.6rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .our-design-partners-work-closely-with-clients-turning-vision-into-reality-from-concept-to-execution-our-collaborative-approach-ensures-a-seamless-enjoyable-experience-Az3 {
            max-width: 42.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Helvetica Neue, 'Source Sans Pro';
          }
        }
        .frame-16-1Dy {
          width: 9.1rem;
          letter-spacing: 0.03rem;
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 0.6rem;
          top: 17.5rem;
          font-weight: 500;
          display: flex;
          justify-content: center;
          height: 4.4rem;
          left: 2.9rem;
          align-items: center;
          background-color: #3f36ea;
          position: absolute;
          font-size: 1.5rem;
        }
      }
      .frame-19-czT {
        position: relative;
        border: solid 0.1rem #e0e0e0;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        background-color: #ffffff;
        border-radius: 0.8rem;
        flex-shrink: 0;
        padding: 5.8rem 6.451rem 4.9rem 2.9rem;
        display: flex;
        align-items: center;

        .auto-group-shfm-9Ub {
          margin-right: 6.1rem;
          width: 21.3rem;
          height: 100%;
          flex-shrink: 0;

          .frame-19-Gp7 {
            margin-bottom: 2.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .packing-partners-qMR {
              line-height: 1.2575;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 2rem;
              font-weight: 700;
            }
            .weve-teamed-up-with-top-packing-and-moving-experts-for-seamless-relocations-a47 {
              max-width: 21.3rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .frame-16-HDR {
            height: 4.4rem;
            color: #ffffff;
            align-items: center;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            border-radius: 0.6rem;
            width: 9.1rem;
            font-size: 1.5rem;
            line-height: 1.3333333333;
            letter-spacing: 0.03rem;
            justify-content: center;
            background-color: #3f36ea;
            font-weight: 500;
          }
        }
        .image-11-iJj {
          height: 13.438rem;
          position: relative;
          background-size: 100% 168.675%;
          background-position: 0 -3.8047rem;
          background-image: url('REPLACE_IMAGE:16372fbb8dfca3c9494a49b49fd2fcd51ab01c0c');
          flex-shrink: 0;
          margin-bottom: 0.262rem;
          width: 26.349rem;
        }
      }
    }
  }
  .footer-YoZ {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .frame-34-iCF {
      margin: 0rem 0rem 7.2rem 2rem;
      height: 21.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-uojx-EwH {
        box-sizing: border-box;
        padding-right: 15.8rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-2-b19 {
          margin-right: 15.8rem;
          width: 22.3rem;
          flex-shrink: 0;

          .frame-3-wao {
            box-sizing: border-box;
            padding: 0.13rem 0rem 0rem 0.075rem;
            width: calc(100% - 10.2rem);
            display: flex;
            align-items: center;
            margin: 0rem 10.2rem 0.1rem 0rem;

            .home-EK1 {
              margin: 0rem 0.675rem 0.175rem 0rem;
              width: 2.2495rem;
              height: 2.1953rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .indus-space-uR9 {
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.0703rem;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #000000;
            }
          }
          .your-goto-hotspot-for-your-next-home-drw {
            font-family: Helvetica Neue, 'Source Sans Pro';
            margin-left: 3.1rem;
            max-width: 19.2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4000000272;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
          }
        }
        .frame-27-MH9 {
          width: 6.9rem;
          flex-shrink: 0;

          .company-KDy {
            white-space: nowrap;
            margin-bottom: 1.8rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            letter-spacing: 0.032rem;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
          }
          .frame-26-39y {
            box-sizing: border-box;
            padding-bottom: 2.7rem;
            width: 100%;
            row-gap: 0.9rem;
            display: flex;
            flex-direction: column;

            .about-afh {
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
            }
            .jobs-KtB {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-5pjr-r7R {
              width: 6.6rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              white-space: nowrap;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-29-A87 {
        width: 8.9rem;
        height: 100%;
        flex-shrink: 0;

        .explore-84w {
          white-space: nowrap;
          margin-bottom: 1.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          letter-spacing: 0.032rem;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
        }
        .frame-28-Tsu {
          flex-direction: column;
          width: 100%;
          row-gap: 0.9rem;
          display: flex;

          .bellandur-QYF {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
          }
          .hsr-layout-MCb {
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .whitefield-h1Z {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
          }
          .indiranagar-23q {
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .malleshwaram-M67 {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
          }
          .electronic-city-Gis {
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
          }
          .see-more-De7 {
            color: #3f36ea;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
          }
        }
      }
      .auto-group-mk7h-j6f {
        box-sizing: border-box;
        padding-left: 15.8rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .frame-31-THZ {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 16.6rem;
          display: flex;

          .terms-and-policies-NQX {
            letter-spacing: 0.032rem;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 500;
            line-height: 1.2575;
            color: #000000;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-size: 1.6rem;
          }
          .frame-30-S9V {
            row-gap: 0.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .privacy-policy-aFh {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
            }
            .terms-of-use-4gf {
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
            .accessibility-bAo {
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
            }
          }
        }
        .frame-33-7Q3 {
          width: 13.1rem;
          flex-shrink: 0;

          .help-rsR {
            line-height: 1.2575;
            letter-spacing: 0.032rem;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.8rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .frame-32-phm {
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 0.9rem;

            .support-jJw {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .cancel-your-bookings-pbH {
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
            }
            .refund-policies-8rs {
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .frame-24-Rqy {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 9.1rem 1rem 122.5rem;
      width: 100%;
      height: 4rem;
      background-color: #3f36ea;

      .frame-23-9GB {
        box-sizing: border-box;
        padding-left: 0.1333rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .copyright-1-shy {
          margin: 0rem 0.733rem 0rem 0rem;
          width: 1.3333rem;
          height: 1.3333rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .indus-space-2023-xDd {
          line-height: 1.4000000272;
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }
}
