
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage-before-login-final-3-JkF {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfe;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .frame-2-SLf {
    padding: 1.2rem 2rem;
    height: 6.8rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    background-color: #fbfbfe;

    .frame-3-wYK {
      margin: 1rem 86.4rem 0.9rem 0rem;
      box-sizing: border-box;
      padding: 0.13rem 0rem 0rem 0.075rem;
      height: calc(100% - 1.9rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .home-dR9 {
        margin: 0rem 0.675rem 0.175rem 0rem;
        width: 2.2495rem;
        height: 2.1953rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .indus-space-9PV {
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0703rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #000000;
      }
    }
    .frame-44-GU7 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 100%;

      .auto-group-2qgo-dZZ {
        padding: 0.2rem 0.7rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .links-xLw {
          height: 100%;
          cursor: pointer;
          font-family: Helvetica Neue, 'Source Sans Pro';
          margin-right: 0.7rem;
          line-height: 1.3333333333;
          white-space: nowrap;
          border-radius: 0.6rem;
          flex-shrink: 0;
          font-weight: 500;
          color: #000000;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 7.9rem;
          font-size: 1.5rem;
          letter-spacing: 0.03rem;
        }
        .links-1q1 {
          font-size: 1.5rem;
          line-height: 1.3333333333;
          font-family: Helvetica Neue, 'Source Sans Pro';
          display: flex;
          align-items: center;
          cursor: pointer;
          letter-spacing: 0.03rem;
          white-space: nowrap;
          border-radius: 0.6rem;
          flex-shrink: 0;
          width: 12.8rem;
          font-weight: 500;
          color: #4f4f4f;
          justify-content: center;
          height: 100%;
        }
      }
      .auto-group-jkwf-VEP {
        width: 19.4rem;
        height: 100%;
        flex-shrink: 0;

        .frame-10-r4w {
          width: 100%;
          height: 100%;

          .frame-8-nzB {
            box-sizing: border-box;
            display: flex;
            border: solid 0.1rem #3f36ea;
            background-color: #3f36ea;
            padding: 1.2rem 3.2rem 1.2rem 2.4rem;
            width: 100%;
            height: 100%;
            align-items: center;
            border-radius: 0.6rem;

            .profile-YCf {
              flex-shrink: 0;
              margin: 0rem 1.6rem 0.001rem 0rem;
              width: 1.1995rem;
              height: 1.6494rem;
              object-fit: contain;
              vertical-align: top;
            }
            .register-sign-in-TqR {
              font-weight: 500;
              line-height: 1.3333333333;
              letter-spacing: 0.03rem;
              color: #ffffff;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .frame-13-VXD {
    width: 100%;
    height: 64.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .image-3-3Yj {
      background-position: 0 -21.9678rem;
      background-image: url('REPLACE_IMAGE:7d31e6502193297476db217979f2127cdb05cca0');
      width: 144.6rem;
      height: 64.4rem;
      position: relative;
      left: 0;
      top: 0.1rem;
      background-size: 100% 151.297%;
    }
    .rectangle-6-JUf {
      width: 144rem;
      height: 64.4rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
      background: linear-gradient(0.64deg, #0a0909 -7.2%, rgba(10, 9, 9, 0) 44.29%);
    }
    .arrow-nud {
      height: 3.2455rem;
      position: absolute;
      left: 138.5rem;
      top: 30.6rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5rem;
      width: 3.5rem;
    }
    .arrow-XcK {
      position: absolute;
      left: 1.9rem;
      top: 30.6rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5rem;
      width: 3.5rem;
      height: 3.2455rem;
    }
    .frame-47-fTd {
      box-sizing: border-box;
      padding-right: 0.6443rem;
      width: 140.1rem;
      left: 1.9rem;
      align-items: center;
      height: 7.8rem;
      position: absolute;
      top: 52.6rem;
      display: flex;

      .frame-19-AfH {
        margin-right: 105.0397rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .sattva-group-hfD {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.235;
          color: #ffffff;
          font-family: Rufina, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
        }
        .premium-luxury-villas-in-hsr-layout-oy9 {
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
      .heart-v2B {
        height: 4.262rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.7917rem;
        width: 4.716rem;
      }
    }
    .frame-43-Tno {
      width: 6rem;
      height: 1.2rem;
      position: absolute;
      left: 68.9rem;
      top: 60.9rem;
      display: flex;
      column-gap: 0.8rem;
      align-items: center;

      .ellipse-1-zXq {
        flex-shrink: 0;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #ffffff;
        border-radius: 0.6rem;
      }
      .ellipse-2-WFH {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #818181;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
      .ellipse-3-rK9 {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #818181;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
      .ellipse-4-akw {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #818181;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-pcmm-j83 {
    width: 100%;
    height: 10rem;
    flex-shrink: 0;

    .search-bar-HfM {
      box-sizing: border-box;
      padding: 2rem 18rem 0rem 18.1rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      .navbar-EKh {
        width: 100%;
        height: 24.3rem;

        .frame-13-bR9 {
          padding: 0.9rem 1.2rem;
          width: 100%;
          height: 6.2rem;
          overflow: hidden;
          background-color: #ffffff;
          margin-bottom: 18.1rem;
          box-sizing: border-box;
          border-radius: 0.8rem;
          position: relative;
          box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.150000006);

          .frame-15-LNj {
            width: 100%;
            height: 100%;
            display: flex;
            column-gap: 1.2rem;
            align-items: center;

            .auto-group-adkv-HYs {
              height: 100%;
              flex-shrink: 0;
              width: 49.1rem;

              .frame-14-cLF {
                line-height: 1.4000000272;
                letter-spacing: 0.028rem;
                box-sizing: border-box;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 400;
                white-space: nowrap;
                background-color: #f2f2f2;
                border-radius: 0.4rem;
                padding: 1.2rem;
                width: 100%;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
              }
            }
            .frame-15-727 {
              padding: 1.2rem 1.372rem 1.2rem 1.2rem;
              height: 100%;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              cursor: pointer;
              display: flex;
              background-color: #f2f2f2;
              border-radius: 0.4rem;

              .auto-group-pfx5-E6j {
                flex-shrink: 0;
                height: 100%;
                letter-spacing: 0.028rem;
                line-height: 1.4000000272;
                white-space: nowrap;
                display: flex;
                width: 6.3rem;
                font-weight: 400;
                font-size: 1.4rem;
                color: #4f4f4f;
                align-items: center;
                justify-content: center;
                margin-right: 9.072rem;
                font-family: Helvetica Neue, 'Source Sans Pro';
              }
              .arrow-down-1-Kts {
                margin-top: 0.0665rem;
                width: 1.056rem;
                height: 0.4732rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .frame-16-egF {
              height: 100%;
              align-items: center;
              border-radius: 0.4rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.2rem 1.372rem 1.2rem 1.2rem;
              cursor: pointer;
              display: flex;
              background-color: #f2f2f2;

              .auto-group-1ynf-xgw {
                margin-right: 6.972rem;
                height: 100%;
                justify-content: center;
                flex-shrink: 0;
                font-weight: 400;
                line-height: 1.4000000272;
                letter-spacing: 0.028rem;
                color: #4f4f4f;
                align-items: center;
                width: 8.4rem;
                font-size: 1.4rem;
                white-space: nowrap;
                font-family: Helvetica Neue, 'Source Sans Pro';
                display: flex;
              }
              .arrow-down-1-2wh {
                height: 0.4732rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.0665rem;
                width: 1.056rem;
              }
            }
            .frame-13-wHy {
              color: #ffffff;
              white-space: nowrap;
              background-color: #3f36ea;
              flex-shrink: 0;
              width: 14.8rem;
              font-size: 1.5rem;
              letter-spacing: 0.03rem;
              align-items: center;
              font-weight: 400;
              font-family: Helvetica Neue, 'Source Sans Pro';
              border-radius: 0.6rem;
              height: 100%;
              line-height: 1.3333333333;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  .auto-group-49bd-ARd {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 6.3rem;

    .auto-group-aaeb-hwM {
      margin-bottom: 2rem;
      width: 142rem;
      height: 87.5rem;
      position: relative;
      flex-shrink: 0;

      .image-12-RsM {
        top: 0;
        border-radius: 0 0.9rem 0.9rem 0;
        background-position: 0 -10.7014rem;
        background-image: url('REPLACE_IMAGE:b761e5d4c490c032d8d1021596d8db2ed3272745');
        width: 134.2rem;
        height: 87.5rem;
        position: relative;
        left: 7.8rem;
        background-size: 101.49% 124.46%;
      }
      .frame-26-tW3 {
        border-radius: 0.6rem;
        left: 58.5rem;
        white-space: nowrap;
        height: 2.6rem;
        position: absolute;
        letter-spacing: 0.032rem;
        color: #ffffff;
        font-family: Helvetica Neue, 'Source Sans Pro';
        box-sizing: border-box;
        padding: 0.4rem 0.8rem;
        font-weight: 500;
        line-height: 1.125;
        box-shadow: 0 0.4rem 3.7rem rgba(0, 0, 0, 0.25);
        top: 1.3rem;
        font-size: 1.6rem;
        width: 26.9rem;
        background-color: #3f36ea;
      }
      .controls-zoom-controls-ggo {
        box-sizing: border-box;
        height: 6rem;
        top: 78.7rem;
        align-items: center;
        display: flex;
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.200000003);
        background-color: #ffffff;
        border-radius: 0.8rem;
        padding: 0.8rem 0.4rem 1.2rem 0.4rem;
        width: 3.2rem;
        position: absolute;
        left: 136.9rem;
        flex-direction: column;

        .union-PLK {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          width: 1rem;
          height: 1rem;
          object-fit: contain;
        }
        .rectangle-2-n7Z {
          height: 0.1rem;
          background-color: #e6e6e6;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          width: 100%;
        }
        .union-XL3 {
          background-color: #666666;
          flex-shrink: 0;
          margin: 0 0.7rem;
          width: calc(100% - 1.4rem);
          height: 0.2rem;
        }
      }
      .group-4-ppw {
        height: 2rem;
        position: absolute;
        left: 131.2rem;
        top: 9.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.2rem;
      }
      .image-15-jS7 {
        background-position: 0 0;
        left: 133rem;
        top: 81.2rem;
        background-size: 100% 103.185%;
        background-image: url('REPLACE_IMAGE:3f99b8bbfc475c8fbe063a32c8444ed3c0c25140');
        border-radius: 0.3182rem;
        width: 3.5rem;
        height: 3.5rem;
        position: relative;
      }
      .vector-2-2g7 {
        vertical-align: top;
        border-radius: 0.02rem;
        width: 0.3rem;
        height: 0.25rem;
        position: absolute;
        left: 131.9rem;
        top: 10.4rem;
        object-fit: contain;
      }
      .frame-70-xpf {
        width: 3.7rem;
        cursor: pointer;
        position: absolute;
        top: 1.6rem;
        border-radius: 0 0.8rem 0.8rem 0;
        height: 4rem;
        left: 7.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .frame-72-TFd {
        height: 87.5rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 4rem;
      }
      .frame-73-yjm {
        height: 87.5rem;
        position: absolute;
        left: 3.8rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 4rem;
      }
      .mappins-uNX {
        display: flex;
        align-items: center;
        width: 67.275rem;
        height: 54.675rem;
        position: absolute;
        left: 5.8rem;
        top: 7.15rem;

        .auto-group-u1od-SNT {
          width: 40.8375rem;
          height: 43.425rem;
          flex-shrink: 0;
          margin: 0rem 11.813rem 11.25rem 0rem;
        }
        .pin-point-wq1 {
          width: 2.925rem;
          height: 5.5125rem;
          cursor: pointer;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 8.775rem 8.663rem 0rem;
        }
        .pin-point-SWs {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 49.1625rem;
          width: 2.925rem;
          height: 5.5125rem;
          position: relative;
        }
      }
    }
    .search-bar-NfR {
      height: 6.2rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 18.1rem 1.9rem 18rem;
      width: calc(100% - 36.1rem);
    }
    .frame-43-tdm {
      height: 26.8rem;
      position: relative;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.400000006);
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin: 0rem 2rem 4.8rem 2rem;
      width: calc(100% - 4rem);

      .frame-16-CuM {
        display: flex;
        border-radius: 0.6rem;
        width: 12.9rem;
        font-weight: 500;
        line-height: 1.3333333333;
        letter-spacing: 0.03rem;
        position: absolute;
        left: 2.9rem;
        white-space: nowrap;
        height: 4.4rem;
        font-size: 1.5rem;
        justify-content: center;
        background-color: #3f36ea;
        top: 17.5rem;
        color: #ffffff;
        font-family: Helvetica Neue, 'Source Sans Pro';
        align-items: center;
      }
      .wepik-export-202402151333462i9l-1-t1V {
        background-position: -0.319rem -11.2266rem;
        background-image: url('REPLACE_IMAGE:d476f5393206f6ec6082215484fd794586ed0c48');
        width: 87.3rem;
        height: 39.8rem;
        position: relative;
        left: 52.7rem;
        top: -13rem;
        background-size: 100.365% 156.415%;
      }
      .rectangle-6-m5H {
        background: linear-gradient(135deg, #0a0909 NaN%, rgba(10, 9, 9, 0) NaN%);
        width: 103.1rem;
        height: 41.4rem;
        position: absolute;
        left: 35.4rem;
        top: -7.3rem;
      }
      .frame-19-fAf {
        height: 8.4rem;
        position: absolute;
        left: 2.9rem;
        top: 7rem;
        width: 63.5rem;

        .free-and-open-real-estate-education-bq1 {
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 1.235;
          color: #ffffff;
          font-family: Rufina, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.8rem;
        }
        .indus-varsity-is-free-and-open-real-estate-education-book-so-as-to-make-the-right-decesion-while-buying-an-apartment-villa-or-any-other-property-XCs {
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
          max-width: 63.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
        }
      }
    }
    .frame-17-BHR {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 4.5rem 2rem;
      display: flex;

      .partners-j43 {
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.235;
        color: #000000;
        font-family: Rufina, 'Source Sans Pro';
        white-space: nowrap;
      }
      .our-interior-design-and-packing-partners-are-listed-below-4s1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-rmmq-Euu {
      margin: 0 2rem;
      width: calc(100% - 4rem);
      height: 26.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-18-m99 {
        overflow: hidden;
        background-color: #3f36ea;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin-right: 2.5rem;
        width: 74.4rem;
        height: 100%;
        position: relative;

        .image-7-v23 {
          width: 84.6rem;
          height: 35.6rem;
          position: absolute;
          left: 0;
          top: -4.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-6-fEX {
          height: 41.4rem;
          position: absolute;
          left: 0;
          top: -7.3rem;
          background: linear-gradient(135deg, #0a0909 NaN%, rgba(10, 9, 9, 0) NaN%);
          width: 84.6rem;
        }
        .frame-19-npw {
          width: 42.7rem;
          height: 9.4rem;
          position: absolute;
          left: 2.9rem;
          top: 5.75rem;

          .interior-design-partners-7MR {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.235;
            color: #ffffff;
            font-family: Rufina, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.8rem;
          }
          .our-design-partners-work-closely-with-clients-turning-vision-into-reality-from-concept-to-execution-our-collaborative-approach-ensures-a-seamless-enjoyable-experience-3ks {
            color: #ffffff;
            font-family: Helvetica Neue, 'Source Sans Pro';
            max-width: 42.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
          }
        }
        .frame-16-tWb {
          height: 4.4rem;
          position: absolute;
          left: 2.9rem;
          top: 17.5rem;
          font-size: 1.5rem;
          line-height: 1.3333333333;
          display: flex;
          white-space: nowrap;
          align-items: center;
          letter-spacing: 0.03rem;
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
          justify-content: center;
          background-color: #3f36ea;
          width: 9.1rem;
          font-weight: 500;
          border-radius: 0.6rem;
        }
      }
      .frame-19-vTH {
        box-sizing: border-box;
        padding: 5.8rem 6.451rem 4.9rem 2.9rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #e0e0e0;
        background-color: #ffffff;
        border-radius: 0.8rem;

        .auto-group-zmvf-Ti7 {
          margin-right: 6.1rem;
          width: 21.3rem;
          height: 100%;
          flex-shrink: 0;

          .frame-19-1jd {
            flex-direction: column;
            margin-bottom: 2.3rem;
            width: 100%;
            display: flex;

            .packing-partners-x95 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.235;
              color: #000000;
              font-family: Rufina, 'Source Sans Pro';
            }
            .weve-teamed-up-with-top-packing-and-moving-experts-for-seamless-relocations-h6f {
              max-width: 21.3rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .frame-16-ofV {
            display: flex;
            border-radius: 0.6rem;
            font-family: Helvetica Neue, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            background-color: #3f36ea;
            color: #ffffff;
            line-height: 1.3333333333;
            font-weight: 500;
            height: 4.4rem;
            font-size: 1.5rem;
            letter-spacing: 0.03rem;
            white-space: nowrap;
            width: 9.1rem;
          }
        }
        .image-11-sQT {
          flex-shrink: 0;
          margin-bottom: 0.262rem;
          width: 26.349rem;
          height: 13.438rem;
          position: relative;
          background-size: 100% 168.675%;
          background-position: 0 -3.8047rem;
          background-image: url('REPLACE_IMAGE:16372fbb8dfca3c9494a49b49fd2fcd51ab01c0c');
        }
      }
    }
  }
  .footer-WiK {
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;

    .frame-34-UQF {
      margin: 0rem 0rem 7.2rem 2rem;
      height: 21.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-xxr3-cWT {
        box-sizing: border-box;
        padding-right: 15.8rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-2-xqD {
          margin-right: 15.8rem;
          width: 22.3rem;
          flex-shrink: 0;

          .frame-3-Vq9 {
            margin: 0rem 10.2rem 0.1rem 0rem;
            box-sizing: border-box;
            padding: 0.13rem 0rem 0rem 0.075rem;
            width: calc(100% - 10.2rem);
            display: flex;
            align-items: center;

            .home-DFM {
              margin: 0rem 0.675rem 0.175rem 0rem;
              width: 2.2495rem;
              height: 2.1953rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .indus-space-hgK {
              flex-shrink: 0;
              margin-top: 0.0703rem;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .your-goto-hotspot-for-your-next-home-qnX {
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            margin-left: 3.1rem;
            max-width: 19.2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4000000272;
            letter-spacing: 0.028rem;
          }
        }
        .frame-27-8Fq {
          width: 6.9rem;
          flex-shrink: 0;

          .company-HuR {
            margin-bottom: 1.8rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            letter-spacing: 0.032rem;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-26-2s1 {
            width: 100%;
            row-gap: 0.9rem;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding-bottom: 2.7rem;

            .about-ZM9 {
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
            }
            .jobs-zBZ {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
            }
            .auto-group-iym9-8oZ {
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.6rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-29-F7V {
        flex-shrink: 0;
        width: 8.9rem;
        height: 100%;

        .explore-bx3 {
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2575;
          letter-spacing: 0.032rem;
          color: #000000;
        }
        .frame-28-YcP {
          width: 100%;
          row-gap: 0.9rem;
          display: flex;
          flex-direction: column;

          .bellandur-GYP {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .hsr-layout-mV9 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .whitefield-HTV {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
          }
          .indiranagar-2fy {
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
          }
          .malleshwaram-BHy {
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .electronic-city-Kf5 {
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #4f4f4f;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .see-more-sAo {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.028rem;
            color: #3f36ea;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .auto-group-uhbm-bsV {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 15.8rem;
        height: 100%;

        .frame-31-LKH {
          margin-right: 16.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .terms-and-policies-J1D {
            line-height: 1.2575;
            letter-spacing: 0.032rem;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-size: 1.6rem;
            font-weight: 500;
            color: #000000;
          }
          .frame-30-Rbd {
            row-gap: 0.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .privacy-policy-yt3 {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
            }
            .terms-of-use-j6X {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
            }
            .accessibility-Gs9 {
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
            }
          }
        }
        .frame-33-AxX {
          width: 13.1rem;
          flex-shrink: 0;

          .help-hBm {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            letter-spacing: 0.032rem;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.8rem;
          }
          .frame-32-S9M {
            width: 100%;
            row-gap: 0.9rem;
            display: flex;
            flex-direction: column;

            .support-nyu {
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
            }
            .cancel-your-bookings-kA3 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .refund-policies-gpP {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: 0.028rem;
              color: #4f4f4f;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .frame-24-oe7 {
      box-sizing: border-box;
      padding: 1rem 9.1rem 1rem 122.5rem;
      width: 100%;
      height: 4rem;
      background-color: #3f36ea;
      flex-shrink: 0;

      .frame-23-Ybh {
        align-items: center;
        box-sizing: border-box;
        padding-left: 0.1333rem;
        width: 100%;
        height: 100%;
        display: flex;

        .copyright-1-tQf {
          margin: 0rem 0.733rem 0rem 0rem;
          width: 1.3333rem;
          height: 1.3333rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .indus-space-2023-2Fy {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4000000272;
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
        }
      }
    }
  }
}
