
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-reset-password-sL3 {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .frame-2-coR {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 6.8rem;
    overflow: hidden;
    background-color: #fbfbfe;
    flex-shrink: 0;
    margin-bottom: 8rem;
    padding: 1.4rem 30.4rem 1rem 8.1rem;
    width: 100%;

    .frame-3-iLf {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.9rem 77.4rem 1rem 0rem;
      box-sizing: border-box;
      padding: 0.13rem 0rem 0rem 0.075rem;
      height: calc(100% - 1.9rem);

      .home-EK1 {
        margin: 0rem 0.675rem 0.175rem 0rem;
        width: 2.2495rem;
        height: 2.1953rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .indus-space-mJw {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0703rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
    }
    .links-6c7 {
      display: flex;
      align-items: center;
      border-radius: 0.6rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.2rem 2.4rem 1.2rem 1.913rem;
      height: 100%;
      cursor: pointer;

      .books-2Vm {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.015rem 1.112rem 0rem 0rem;
        width: 2.1751rem;
        height: 1.6807rem;
      }
      .indus-varsity-Zkb {
        font-weight: 400;
        line-height: 1.3333333333;
        letter-spacing: 0.03rem;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
      }
    }
  }
  .reset-password-Ucf {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 20rem 0.4rem 0rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
  }
  .use-a-of-minimum-8-characters-1-uppercase-1-special-character-and-numbers-yJX {
    line-height: 1.2575;
    color: #4f4f4f;
    font-family: Helvetica Neue, 'Source Sans Pro';
    flex-shrink: 0;
    margin-right: 10.2rem;
    max-width: 29.8rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .auto-group-zt8f-seo {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.1rem 52rem 54.6rem 52rem;
    width: 100%;
    row-gap: 2.1rem;
    align-items: center;

    .frame-35-NrT {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .password-84w {
        color: #181818;
        margin-bottom: 0.4rem;
        font-weight: 500;
        line-height: 1.4000000272;
        letter-spacing: 0.028rem;
        font-size: 1.4rem;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-15-eJB {
        box-sizing: border-box;
        padding: 1.5rem 1.4rem 1.6rem 36.6rem;
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 0.6rem;
        flex-shrink: 0;

        .eye-nvB {
          width: 2.0007rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .frame-39-7hZ {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .confirm-password-V3u {
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.4000000272;
        color: #181818;
        font-family: Helvetica Neue, 'Source Sans Pro';
        letter-spacing: 0.028rem;
        margin-bottom: 0.4rem;
        font-size: 1.4rem;
        font-weight: 500;
      }
      .frame-15-oKV {
        box-sizing: border-box;
        padding: 1.5rem 1.4rem 1.6rem 36.6rem;
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 0.6rem;
        flex-shrink: 0;

        .eye-vf1 {
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.0007rem;
        }
      }
    }
    .frame-13-Gis {
      width: 100%;
      letter-spacing: 0.03rem;
      color: #ffffff;
      display: flex;
      line-height: 1.3333333333;
      white-space: nowrap;
      background-color: #3f36ea;
      flex-shrink: 0;
      height: 4.4rem;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-family: Helvetica Neue, 'Source Sans Pro';
      border-radius: 0.6rem;
    }
  }
}
