
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.3rem;
}.mappins-UTq {
  border-radius: 0.5rem;
  width: 100%;
  height: 183.5rem;
  position: relative;
  overflow: hidden;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;

  .property-1frame-65-ca3 {
    top: 2rem;
    display: flex;
    align-items: center;
    width: 59.8rem;
    height: 48.6rem;
    position: absolute;
    left: 2rem;

    .auto-group-kjmz-LW3 {
      margin: 0rem 10.5rem 10rem 0rem;
      width: 36.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-59-sF5 {
        padding-right: 1rem;
        position: relative;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.8rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        cursor: pointer;
        border: solid 0.1rem #e0e0e0;
        height: 18.8rem;
        flex-shrink: 0;

        .image-5-jYB {
          width: 10rem;
          height: 18.8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1rem;
        }
        .auto-group-acw9-Ukf {
          margin: 0.85rem 0rem 1.25rem 0rem;
          width: 24.3rem;
          height: calc(100% - 2.1rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-omdq-b4b {
            width: 100%;
            height: 6.5rem;
            flex-shrink: 0;

            .frame-63-8KR {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;

              .frame-62-gbq {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 0.3rem;
                box-sizing: border-box;
                padding-right: 0.2148rem;
                width: 100%;

                .sattva-regency-ENT {
                  letter-spacing: 0.036rem;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 10.9133rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #000000;
                  white-space: nowrap;
                }
                .heart-J7R {
                  margin-top: 0.0028rem;
                  width: 1.572rem;
                  height: 1.4207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .frame-61-Qw9 {
                width: 13.8rem;
                flex-shrink: 0;

                .frame-59-n2b {
                  align-items: center;
                  margin: 0rem 3.72rem 0.1rem 0rem;
                  width: calc(100% - 3.72rem);
                  display: flex;

                  .item-45-Jmd {
                    letter-spacing: 0.026rem;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    line-height: 1.399999912;
                    display: flex;
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: #4f4f4f;
                    margin-right: 1rem;
                  }
                  .group-5-oCb {
                    width: 7.38rem;
                    height: 1.8rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .yeswanthpur-karnataka-vY7 {
                  display: flex;
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .auto-group-7bo5-F4b {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1.1rem;
            width: 100%;

            .frame-60-PwV {
              margin-bottom: 1.1rem;
              row-gap: 0.1rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .bhk-apartments-9Qs {
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                margin-left: 0.2rem;
                display: flex;
                line-height: 1.399999912;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.3rem;
                font-weight: 400;
              }
              .under-construction-qoV {
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                flex-shrink: 0;
                margin-left: 0.2rem;
                display: flex;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.399999912;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
              }
              .sqft-ZzP {
                flex-shrink: 0;
                font-weight: 400;
                line-height: 1.399999912;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.3rem;
              }
            }
            .rs86-lakhs-onwards-4RM {
              text-align: right;
              font-size: 1.6rem;
              font-weight: 500;
              letter-spacing: 0.032rem;
              flex-shrink: 0;
              margin-left: 10.7rem;
              display: flex;
              line-height: 1.2575;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;

              .rs86-lakhs-onwards-4RM-sub-0 {
              }
              .rs86-lakhs-onwards-4RM-sub-1 {
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2575;
                letter-spacing: 0.032rem;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .frame-60-qiw {
        border: solid 0.1rem #e0e0e0;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 18.8rem;
        cursor: pointer;
        position: relative;
        display: flex;
        padding-right: 1rem;
        width: 100%;
        overflow: hidden;
        align-items: center;
        background-color: #ffffff;

        .image-3-9Uj {
          height: 18.8rem;
          position: relative;
          background-size: 370% 151.297%;
          background-position: -15.9rem -6.413rem;
          background-image: url('REPLACE_IMAGE:7d31e6502193297476db217979f2127cdb05cca0');
          flex-shrink: 0;
          margin-right: 1rem;
          width: 10rem;
        }
        .auto-group-ekfd-pKy {
          width: 24.3rem;
          height: calc(100% - 2.2rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.85rem 0rem 1.35rem 0rem;

          .auto-group-dtsd-YFy {
            width: 100%;
            height: 6.5rem;
            flex-shrink: 0;

            .frame-63-sp3 {
              flex-direction: column;
              width: 100%;
              height: 100%;
              display: flex;

              .frame-62-S6T {
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 0.3rem;
                box-sizing: border-box;
                padding-right: 0.2148rem;
                width: 100%;
                display: flex;

                .sattva-regency-MDR {
                  margin-right: 10.9133rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #000000;
                  display: flex;
                  font-size: 1.8rem;
                  letter-spacing: 0.036rem;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .heart-fzo {
                  margin-top: 0.0028rem;
                  width: 1.572rem;
                  height: 1.4207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .frame-61-1om {
                width: 11.8rem;
                flex-shrink: 0;

                .frame-59-kFZ {
                  margin: 0rem 1.72rem 0.1rem 0rem;
                  width: calc(100% - 1.72rem);
                  display: flex;
                  align-items: center;

                  .item-40-VD9 {
                    font-weight: 400;
                    letter-spacing: 0.026rem;
                    color: #4f4f4f;
                    white-space: nowrap;
                    margin-right: 1rem;
                    display: flex;
                    font-size: 1.3rem;
                    line-height: 1.399999912;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .group-5-DQ3 {
                    width: 7.38rem;
                    height: 1.8rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .jp-nagar-karnataka-kes {
                  white-space: nowrap;
                  display: flex;
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                }
              }
            }
          }
          .auto-group-87wm-tFH {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1.1rem;
            width: 100%;
            display: flex;

            .frame-60-38B {
              flex-shrink: 0;
              margin-bottom: 1rem;
              row-gap: 0.1rem;
              display: flex;
              flex-direction: column;

              .bhk-duplex-villas-yXd {
                font-size: 1.3rem;
                font-weight: 400;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                flex-shrink: 0;
                margin-left: 0.2rem;
                display: flex;
                line-height: 1.399999912;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
              }
              .ready-to-occupy-ssu {
                font-family: Helvetica Neue, 'Source Sans Pro';
                margin-left: 0.2rem;
                font-weight: 400;
                line-height: 1.399999912;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                display: flex;
                font-size: 1.3rem;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .sqft-QN3 {
                display: flex;
                font-weight: 400;
                line-height: 1.399999912;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.3rem;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
              }
            }
            .rs2-crore-onwards-5yy {
              margin-left: 11.8rem;
              text-align: right;
              font-size: 1.6rem;
              line-height: 1.2575;
              letter-spacing: 0.032rem;
              align-items: baseline;
              display: flex;
              font-weight: 500;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;

              .rs2-crore-onwards-5yy-sub-0 {
              }
              .rs2-crore-onwards-5yy-sub-1 {
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2575;
                letter-spacing: 0.032rem;
              }
            }
          }
        }
      }
    }
    .pin-point-yCB {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 7.8rem 7.7rem 0rem;
      width: 2.6rem;
      height: 4.9rem;
      cursor: pointer;
    }
    .pin-point-soM {
      margin-top: 43.7rem;
      width: 2.6rem;
      height: 4.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .property-1frame-69-bzF {
    top: 132.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 85.5rem;
    height: 48.6rem;
    position: absolute;
    left: 65.8rem;

    .auto-group-xqaw-WLX {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 2.4rem 5.1rem 0rem;
      width: calc(100% - 2.4rem);
      height: 38.6rem;
      display: flex;

      .auto-group-rmkv-cuM {
        margin-right: 10.5rem;
        width: 36.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-59-a5V {
          width: 100%;
          height: 18.8rem;
          border-radius: 0.8rem;
          position: relative;
          padding-right: 1rem;
          cursor: pointer;
          overflow: hidden;
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          box-sizing: border-box;
          border: solid 0.1rem #e0e0e0;
          background-color: #ffffff;
          flex-shrink: 0;

          .image-5-Vy9 {
            margin-right: 1rem;
            width: 10rem;
            height: 18.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-jffm-DeF {
            flex-shrink: 0;
            margin: 0.85rem 0rem 1.25rem 0rem;
            width: 24.3rem;
            height: calc(100% - 2.1rem);
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-b1uj-Lym {
              width: 100%;
              height: 6.5rem;
              flex-shrink: 0;

              .frame-63-syh {
                flex-direction: column;
                width: 100%;
                height: 100%;
                display: flex;

                .frame-62-qvX {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-bottom: 0.3rem;
                  box-sizing: border-box;
                  padding-right: 0.2147rem;

                  .sattva-regency-YK9 {
                    display: flex;
                    color: #000000;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-right: 10.9133rem;
                    font-weight: 500;
                    line-height: 1.2575;
                    letter-spacing: 0.036rem;
                    flex-shrink: 0;
                    font-size: 1.8rem;
                  }
                  .heart-GF9 {
                    margin-top: 0.0028rem;
                    width: 1.572rem;
                    height: 1.4207rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .frame-61-CuV {
                  width: 13.8rem;
                  flex-shrink: 0;

                  .frame-59-mSo {
                    display: flex;
                    align-items: center;
                    margin: 0rem 3.72rem 0.1rem 0rem;
                    width: calc(100% - 3.72rem);

                    .item-45-V7u {
                      margin-right: 1rem;
                      font-weight: 400;
                      color: #4f4f4f;
                      white-space: nowrap;
                      font-family: Helvetica Neue, 'Source Sans Pro';
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.3rem;
                      line-height: 1.399999912;
                      letter-spacing: 0.026rem;
                    }
                    .group-5-Qkf {
                      position: relative;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 7.38rem;
                      height: 1.8rem;
                    }
                  }
                  .yeswanthpur-karnataka-mLK {
                    color: #4f4f4f;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.399999912;
                    letter-spacing: 0.026rem;
                  }
                }
              }
            }
            .auto-group-iret-Vn7 {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 1.1rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .frame-60-r6s {
                margin-bottom: 1.1rem;
                row-gap: 0.1rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .bhk-apartments-NL7 {
                  display: flex;
                  font-size: 1.3rem;
                  font-weight: 400;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  margin-left: 0.2rem;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  color: #4f4f4f;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .under-construction-sGs {
                  display: flex;
                  font-weight: 400;
                  letter-spacing: 0.026rem;
                  color: #4f4f4f;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 0.2rem;
                  font-size: 1.3rem;
                  line-height: 1.399999912;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                }
                .sqft-ZQb {
                  display: flex;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-size: 1.3rem;
                  font-weight: 400;
                  color: #4f4f4f;
                  white-space: nowrap;
                }
              }
              .rs86-lakhs-onwards-bcB {
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: right;
                font-size: 1.6rem;
                letter-spacing: 0.032rem;
                line-height: 1.2575;
                font-family: Helvetica Neue, 'Source Sans Pro';
                align-items: baseline;
                margin-left: 10.7rem;
                display: flex;
                font-weight: 500;

                .rs86-lakhs-onwards-bcB-sub-0 {
                }
                .rs86-lakhs-onwards-bcB-sub-1 {
                  line-height: 1.2575;
                  letter-spacing: 0.032rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  font-size: 1.3rem;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .frame-60-rwR {
          background-color: #ffffff;
          box-sizing: border-box;
          padding-right: 1rem;
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;
          border: solid 0.1rem #e0e0e0;
          border-radius: 0.8rem;
          width: 100%;
          height: 18.8rem;
          overflow: hidden;
          flex-shrink: 0;

          .image-3-moV {
            background-size: 370% 151.297%;
            background-position: -15.9rem -6.413rem;
            background-image: url('REPLACE_IMAGE:7d31e6502193297476db217979f2127cdb05cca0');
            flex-shrink: 0;
            margin-right: 1rem;
            width: 10rem;
            height: 18.8rem;
            position: relative;
          }
          .auto-group-1ybu-cZD {
            margin: 0.85rem 0rem 1.35rem 0rem;
            width: 24.3rem;
            height: calc(100% - 2.2rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-sizv-WPh {
              flex-shrink: 0;
              width: 100%;
              height: 6.5rem;

              .frame-63-fXV {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .frame-62-2cw {
                  align-items: center;
                  flex-shrink: 0;
                  margin-bottom: 0.3rem;
                  box-sizing: border-box;
                  padding-right: 0.2147rem;
                  width: 100%;
                  display: flex;

                  .sattva-regency-Az3 {
                    line-height: 1.2575;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-weight: 500;
                    letter-spacing: 0.036rem;
                    color: #000000;
                    margin-right: 10.9133rem;
                    font-size: 1.8rem;
                  }
                  .heart-r6B {
                    flex-shrink: 0;
                    margin-top: 0.0028rem;
                    width: 1.572rem;
                    height: 1.4207rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
                .frame-61-jfm {
                  width: 11.8rem;
                  flex-shrink: 0;

                  .frame-59-Gvb {
                    margin: 0rem 1.72rem 0.1rem 0rem;
                    width: calc(100% - 1.72rem);
                    display: flex;
                    align-items: center;

                    .item-40-Qmu {
                      font-family: Helvetica Neue, 'Source Sans Pro';
                      margin-right: 1rem;
                      display: flex;
                      line-height: 1.399999912;
                      letter-spacing: 0.026rem;
                      color: #4f4f4f;
                      font-size: 1.3rem;
                      font-weight: 400;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .group-5-UFy {
                      width: 7.38rem;
                      height: 1.8rem;
                      position: relative;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                  }
                  .jp-nagar-karnataka-bLb {
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.399999912;
                    letter-spacing: 0.026rem;
                    color: #4f4f4f;
                  }
                }
              }
            }
            .auto-group-2abh-Fvw {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 1.1rem;
              width: 100%;
              display: flex;

              .frame-60-xKZ {
                margin-bottom: 1rem;
                row-gap: 0.1rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .bhk-duplex-villas-6wZ {
                  display: flex;
                  font-weight: 400;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-left: 0.2rem;
                  font-size: 1.3rem;
                  color: #4f4f4f;
                }
                .ready-to-occupy-2qD {
                  font-size: 1.3rem;
                  letter-spacing: 0.026rem;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-left: 0.2rem;
                  display: flex;
                  color: #4f4f4f;
                  flex-shrink: 0;
                  font-weight: 400;
                  line-height: 1.399999912;
                }
                .sqft-AgX {
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1.3rem;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 400;
                  color: #4f4f4f;
                }
              }
              .rs2-crore-onwards-gum {
                margin-left: 11.8rem;
                text-align: right;
                font-size: 1.6rem;
                letter-spacing: 0.032rem;
                color: #000000;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;
                display: flex;
                font-weight: 500;
                line-height: 1.2575;
                flex-shrink: 0;

                .rs2-crore-onwards-gum-sub-0 {
                }
                .rs2-crore-onwards-gum-sub-1 {
                  letter-spacing: 0.032rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
              }
            }
          }
        }
      }
      .auto-group-om3u-yGb {
        margin-top: 4.4rem;
        width: 36.3rem;
        flex-shrink: 0;

        .frame-68-hyH {
          padding-right: 1rem;
          height: 11.4rem;
          position: relative;
          border: solid 0.1rem #e0e0e0;
          box-sizing: border-box;
          width: 100%;
          overflow: hidden;
          display: flex;
          align-items: flex-start;
          background-color: #ffffff;
          border-radius: 0.8rem;
          margin-bottom: 2.2rem;

          .image-5-Dwd {
            height: 18.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 10rem;
          }
          .auto-group-7gmm-N3q {
            margin: 0.85rem 0;
            width: 24.3rem;
            height: calc(100% - 1.7rem);
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-a2vd-hbu {
              margin-bottom: 1.1rem;
              width: 100%;
              height: 6.5rem;
              flex-shrink: 0;

              .frame-63-FNX {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .frame-62-DKM {
                  font-weight: 500;
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  width: 100%;
                  display: flex;
                  line-height: 1.2575;
                  letter-spacing: 0.036rem;
                  color: #000000;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  margin-bottom: 0.3rem;
                }
                .frame-61-uhy {
                  width: 13.8rem;
                  flex-shrink: 0;

                  .frame-59-56f {
                    display: flex;
                    align-items: center;
                    margin: 0rem 3.72rem 0.1rem 0rem;
                    width: calc(100% - 3.72rem);

                    .item-45-Qud {
                      margin-right: 1rem;
                      display: flex;
                      letter-spacing: 0.026rem;
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.3rem;
                      font-weight: 400;
                      line-height: 1.399999912;
                      color: #4f4f4f;
                      font-family: Helvetica Neue, 'Source Sans Pro';
                    }
                    .group-5-t47 {
                      vertical-align: top;
                      flex-shrink: 0;
                      width: 7.38rem;
                      height: 1.8rem;
                      position: relative;
                      object-fit: contain;
                    }
                  }
                  .yeswanthpur-karnataka-2w1 {
                    letter-spacing: 0.026rem;
                    color: #4f4f4f;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.399999912;
                  }
                }
              }
            }
            .rs86-lakhs-onwards-9Ew {
              text-align: right;
              line-height: 1.2575;
              flex-shrink: 0;
              margin-right: 0.1rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              letter-spacing: 0.032rem;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;

              .rs86-lakhs-onwards-9Ew-sub-0 {
              }
              .rs86-lakhs-onwards-9Ew-sub-1 {
                font-family: Helvetica Neue, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2575;
                letter-spacing: 0.032rem;
                color: #4f4f4f;
              }
            }
          }
        }
        .pin-point-3jd {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          width: 2.6rem;
          height: 4.9rem;
        }
      }
    }
    .pin-point-NG7 {
      flex-shrink: 0;
      margin-left: 31.5rem;
      width: 2.6rem;
      height: 4.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .property-1frame-67-i55 {
    display: flex;
    align-items: center;
    width: 59.8rem;
    height: 48.6rem;
    position: absolute;
    left: 65.8rem;
    top: 57.6rem;

    .auto-group-zgxh-pP1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 10.5rem 10rem 0rem;
      width: 36.3rem;

      .frame-59-M83 {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        display: flex;
        border: solid 0.1rem #e0e0e0;
        border-radius: 0.8rem;
        flex-shrink: 0;
        height: 18.8rem;
        margin-bottom: 1rem;
        padding-right: 1rem;
        width: 100%;
        background-color: #ffffff;
        box-sizing: border-box;
        align-items: center;

        .image-5-t7y {
          margin-right: 1rem;
          width: 10rem;
          height: 18.8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-3khm-1TV {
          width: 24.3rem;
          height: calc(100% - 2.1rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.85rem 0rem 1.25rem 0rem;

          .auto-group-ptz5-GPR {
            width: 100%;
            height: 6.5rem;
            flex-shrink: 0;

            .frame-63-RGK {
              height: 100%;
              display: flex;
              flex-direction: column;
              width: 100%;

              .frame-62-kZV {
                margin-bottom: 0.3rem;
                box-sizing: border-box;
                padding-right: 0.2147rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .sattva-regency-VX5 {
                  display: flex;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  color: #000000;
                  white-space: nowrap;
                  margin-right: 10.9133rem;
                  font-size: 1.8rem;
                  line-height: 1.2575;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .heart-nm5 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.0028rem;
                  width: 1.572rem;
                  height: 1.4207rem;
                }
              }
              .frame-61-WSB {
                width: 13.8rem;
                flex-shrink: 0;

                .frame-59-4yV {
                  margin: 0rem 3.72rem 0.1rem 0rem;
                  width: calc(100% - 3.72rem);
                  display: flex;
                  align-items: center;

                  .item-45-cEK {
                    display: flex;
                    letter-spacing: 0.026rem;
                    color: #4f4f4f;
                    flex-shrink: 0;
                    margin-right: 1rem;
                    font-weight: 400;
                    line-height: 1.399999912;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.3rem;
                  }
                  .group-5-UXR {
                    height: 1.8rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    width: 7.38rem;
                  }
                }
                .yeswanthpur-karnataka-c7q {
                  display: flex;
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .auto-group-ckpv-LJj {
            box-sizing: border-box;
            padding-top: 1.1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-60-GCP {
              margin-bottom: 1.1rem;
              row-gap: 0.1rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .bhk-apartments-oy1 {
                line-height: 1.399999912;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                letter-spacing: 0.026rem;
                flex-shrink: 0;
                margin-left: 0.2rem;
                display: flex;
                font-size: 1.3rem;
                font-weight: 400;
              }
              .under-construction-91H {
                display: flex;
                font-weight: 400;
                line-height: 1.399999912;
                color: #4f4f4f;
                white-space: nowrap;
                margin-left: 0.2rem;
                font-size: 1.3rem;
                letter-spacing: 0.026rem;
                font-family: Helvetica Neue, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .sqft-3MZ {
                display: flex;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.399999912;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .rs86-lakhs-onwards-n4F {
              margin-left: 10.7rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2575;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              letter-spacing: 0.032rem;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              align-items: baseline;

              .rs86-lakhs-onwards-n4F-sub-0 {
              }
              .rs86-lakhs-onwards-n4F-sub-1 {
                line-height: 1.2575;
                letter-spacing: 0.032rem;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 400;
              }
            }
          }
        }
      }
      .frame-60-Vcs {
        height: 18.8rem;
        border: solid 0.1rem #3f36ea;
        background-color: #3f36ea;
        border-radius: 0.8rem;
        padding-right: 1rem;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;

        .image-3-38b {
          position: relative;
          background-size: 370% 151.297%;
          background-position: -15.9rem -6.413rem;
          background-image: url('REPLACE_IMAGE:7d31e6502193297476db217979f2127cdb05cca0');
          flex-shrink: 0;
          margin-right: 1rem;
          width: 10rem;
          height: 18.8rem;
        }
        .auto-group-yds7-LtP {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.85rem 0rem 1.35rem 0rem;
          width: 24.3rem;
          height: calc(100% - 2.2rem);
          align-items: center;

          .auto-group-ezkm-r63 {
            flex-shrink: 0;
            width: 100%;
            height: 6.5rem;

            .frame-63-AcX {
              flex-direction: column;
              width: 100%;
              height: 100%;
              display: flex;

              .frame-62-Xhy {
                box-sizing: border-box;
                padding-right: 0.2147rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 0.3rem;

                .sattva-regency-Ut7 {
                  letter-spacing: 0.036rem;
                  color: #000000;
                  white-space: nowrap;
                  margin-right: 10.9133rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  flex-shrink: 0;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                }
                .heart-ofV {
                  width: 1.572rem;
                  height: 1.4207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.0028rem;
                }
              }
              .frame-61-9DZ {
                width: 11.8rem;
                flex-shrink: 0;

                .frame-59-Tzw {
                  margin: 0rem 1.72rem 0.1rem 0rem;
                  width: calc(100% - 1.72rem);
                  display: flex;
                  align-items: center;

                  .item-40-c79 {
                    color: #4f4f4f;
                    white-space: nowrap;
                    font-size: 1.3rem;
                    line-height: 1.399999912;
                    letter-spacing: 0.026rem;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-right: 1rem;
                    display: flex;
                    font-weight: 400;
                  }
                  .group-5-aiB {
                    flex-shrink: 0;
                    width: 7.38rem;
                    height: 1.8rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
                .jp-nagar-karnataka-jb5 {
                  display: flex;
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .auto-group-ucnj-GL7 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1.1rem;
            width: 100%;

            .frame-60-24P {
              margin-bottom: 1rem;
              row-gap: 0.1rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .bhk-duplex-villas-YYX {
                font-weight: 400;
                font-family: Helvetica Neue, 'Source Sans Pro';
                flex-shrink: 0;
                margin-left: 0.2rem;
                font-size: 1.3rem;
                line-height: 1.399999912;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                white-space: nowrap;
                display: flex;
              }
              .ready-to-occupy-RcK {
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.2rem;
                font-size: 1.3rem;
                line-height: 1.399999912;
                display: flex;
                font-weight: 400;
                flex-shrink: 0;
              }
              .sqft-kuV {
                letter-spacing: 0.026rem;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.399999912;
                color: #4f4f4f;
                flex-shrink: 0;
              }
            }
            .rs2-crore-onwards-Uab {
              font-weight: 500;
              line-height: 1.2575;
              white-space: nowrap;
              align-items: baseline;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              letter-spacing: 0.032rem;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              margin-left: 11.8rem;
              text-align: right;

              .rs2-crore-onwards-Uab-sub-0 {
              }
              .rs2-crore-onwards-Uab-sub-1 {
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2575;
                letter-spacing: 0.032rem;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
    .pin-point-NpP {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 7.8rem 7.7rem 0rem;
      width: 2.6rem;
      height: 4.9rem;
      position: relative;
      object-fit: contain;
    }
    .pin-point-5io {
      flex-shrink: 0;
      margin-top: 41.7rem;
      width: 2.6rem;
      height: 4.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .property-1frame-66-pgP {
    top: 2rem;
    display: flex;
    align-items: center;
    width: 59.8rem;
    height: 48.6rem;
    position: absolute;
    left: 65.8rem;

    .auto-group-pwf5-wm1 {
      width: 36.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 10.5rem 10rem 0rem;

      .frame-59-5MR {
        flex-shrink: 0;
        width: 100%;
        height: 18.8rem;
        position: relative;
        align-items: center;
        border-radius: 0.8rem;
        border: solid 0.1rem #3f36ea;
        background-color: #3f36ea;
        margin-bottom: 1rem;
        box-sizing: border-box;
        padding-right: 1rem;
        overflow: hidden;
        display: flex;

        .image-5-baf {
          flex-shrink: 0;
          margin-right: 1rem;
          width: 10rem;
          height: 18.8rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-ldxu-WSj {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.85rem 0rem 1.25rem 0rem;
          width: 24.3rem;
          height: calc(100% - 2.1rem);
          align-items: center;
          display: flex;

          .auto-group-cyls-dnF {
            height: 6.5rem;
            flex-shrink: 0;
            width: 100%;

            .frame-63-C4f {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .frame-62-wY3 {
                margin-bottom: 0.3rem;
                box-sizing: border-box;
                padding-right: 0.2147rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .sattva-regency-tTH {
                  line-height: 1.2575;
                  color: #000000;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 10.9133rem;
                  display: flex;
                }
                .heart-8cX {
                  margin-top: 0.0028rem;
                  width: 1.572rem;
                  height: 1.4207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .frame-61-T91 {
                flex-shrink: 0;
                width: 13.8rem;

                .frame-59-cXh {
                  margin: 0rem 3.72rem 0.1rem 0rem;
                  width: calc(100% - 3.72rem);
                  display: flex;
                  align-items: center;

                  .item-45-9nX {
                    flex-shrink: 0;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.399999912;
                    letter-spacing: 0.026rem;
                    white-space: nowrap;
                    margin-right: 1rem;
                    display: flex;
                    color: #4f4f4f;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                  }
                  .group-5-H83 {
                    width: 7.38rem;
                    height: 1.8rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .yeswanthpur-karnataka-EJB {
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  font-size: 1.3rem;
                  font-weight: 400;
                }
              }
            }
          }
          .auto-group-xdw7-xV5 {
            box-sizing: border-box;
            padding-top: 1.1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-60-Gkf {
              margin-bottom: 1.1rem;
              row-gap: 0.1rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .bhk-apartments-pnB {
                line-height: 1.399999912;
                font-family: Helvetica Neue, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 1.3rem;
                display: flex;
                font-weight: 400;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                white-space: nowrap;
                margin-left: 0.2rem;
              }
              .under-construction-kA3 {
                display: flex;
                font-size: 1.3rem;
                font-family: Helvetica Neue, 'Source Sans Pro';
                color: #4f4f4f;
                white-space: nowrap;
                flex-shrink: 0;
                margin-left: 0.2rem;
                font-weight: 400;
                line-height: 1.399999912;
                letter-spacing: 0.026rem;
              }
              .sqft-Ubq {
                line-height: 1.399999912;
                display: flex;
                font-weight: 400;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.3rem;
                letter-spacing: 0.026rem;
              }
            }
            .rs86-lakhs-onwards-cT9 {
              text-align: right;
              font-weight: 500;
              letter-spacing: 0.032rem;
              align-items: baseline;
              flex-shrink: 0;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 10.7rem;
              display: flex;
              font-size: 1.6rem;
              line-height: 1.2575;
              color: #000000;

              .rs86-lakhs-onwards-cT9-sub-0 {
              }
              .rs86-lakhs-onwards-cT9-sub-1 {
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2575;
                letter-spacing: 0.032rem;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .frame-60-KVy {
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 1rem;
        align-items: center;
        border: solid 0.1rem #e0e0e0;
        height: 18.8rem;
        display: flex;

        .image-3-3gs {
          background-position: -15.9rem -6.413rem;
          background-image: url('REPLACE_IMAGE:7d31e6502193297476db217979f2127cdb05cca0');
          flex-shrink: 0;
          margin-right: 1rem;
          width: 10rem;
          height: 18.8rem;
          position: relative;
          background-size: 370% 151.297%;
        }
        .auto-group-kzm1-x39 {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.85rem 0rem 1.35rem 0rem;
          width: 24.3rem;
          height: calc(100% - 2.2rem);
          align-items: center;
          display: flex;

          .auto-group-mteb-46B {
            width: 100%;
            height: 6.5rem;
            flex-shrink: 0;

            .frame-63-ucb {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .frame-62-sJX {
                margin-bottom: 0.3rem;
                box-sizing: border-box;
                padding-right: 0.2147rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .sattva-regency-pUf {
                  margin-right: 10.9133rem;
                  color: #000000;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  letter-spacing: 0.036rem;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .heart-jLj {
                  width: 1.572rem;
                  height: 1.4207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.0028rem;
                }
              }
              .frame-61-UJK {
                width: 11.8rem;
                flex-shrink: 0;

                .frame-59-dh1 {
                  display: flex;
                  align-items: center;
                  margin: 0rem 1.72rem 0.1rem 0rem;
                  width: calc(100% - 1.72rem);

                  .item-40-Neb {
                    display: flex;
                    font-size: 1.3rem;
                    letter-spacing: 0.026rem;
                    font-family: Helvetica Neue, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-right: 1rem;
                    font-weight: 400;
                    line-height: 1.399999912;
                    color: #4f4f4f;
                    white-space: nowrap;
                  }
                  .group-5-VDR {
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    width: 7.38rem;
                    height: 1.8rem;
                  }
                }
                .jp-nagar-karnataka-cYw {
                  display: flex;
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.399999912;
                  letter-spacing: 0.026rem;
                  color: #4f4f4f;
                  font-family: Helvetica Neue, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .auto-group-dn3z-8GP {
            box-sizing: border-box;
            padding-top: 1.1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-60-eVd {
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 1rem;
              row-gap: 0.1rem;
              display: flex;

              .bhk-duplex-villas-zpP {
                font-family: Helvetica Neue, 'Source Sans Pro';
                flex-shrink: 0;
                font-weight: 400;
                display: flex;
                font-size: 1.3rem;
                line-height: 1.399999912;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                white-space: nowrap;
                margin-left: 0.2rem;
              }
              .ready-to-occupy-uAf {
                font-family: Helvetica Neue, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                line-height: 1.399999912;
                letter-spacing: 0.026rem;
                color: #4f4f4f;
                white-space: nowrap;
                margin-left: 0.2rem;
                font-size: 1.3rem;
                font-weight: 400;
              }
              .sqft-ETq {
                flex-shrink: 0;
                line-height: 1.399999912;
                letter-spacing: 0.026rem;
                font-family: Helvetica Neue, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.3rem;
                font-weight: 400;
                color: #4f4f4f;
              }
            }
            .rs2-crore-onwards-yAX {
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 11.8rem;
              text-align: right;
              display: flex;
              font-size: 1.6rem;
              line-height: 1.2575;
              font-weight: 500;
              letter-spacing: 0.032rem;
              align-items: baseline;
              flex-shrink: 0;

              .rs2-crore-onwards-yAX-sub-0 {
              }
              .rs2-crore-onwards-yAX-sub-1 {
                letter-spacing: 0.032rem;
                color: #4f4f4f;
                font-family: Helvetica Neue, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2575;
              }
            }
          }
        }
      }
    }
    .pin-point-fxT {
      margin: 0rem 7.8rem 9.7rem 0rem;
      width: 2.6rem;
      height: 4.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .pin-point-QQF {
      margin-top: 43.7rem;
      width: 2.6rem;
      height: 4.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
