
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-reset-password-sL3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.login-reset-password-sL3 .frame-2-coR {
  margin-bottom: 8rem;
  box-sizing: border-box;
  padding: 1.4rem 30.4rem 1rem 8.1rem;
  width: 100%;
  height: 6.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fbfbfe;
  flex-shrink: 0;
}
.login-reset-password-sL3 .frame-2-coR .frame-3-iLf {
  margin: 0.9rem 77.4rem 1rem 0rem;
  box-sizing: border-box;
  padding: 0.13rem 0rem 0rem 0.075rem;
  height: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-reset-password-sL3 .frame-2-coR .frame-3-iLf .home-EK1 {
  margin: 0rem 0.675rem 0.175rem 0rem;
  width: 2.2495rem;
  height: 2.1953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-reset-password-sL3 .frame-2-coR .frame-3-iLf .indus-space-mJw {
  margin-top: 0.0703rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-reset-password-sL3 .frame-2-coR .links-6c7 {
  box-sizing: border-box;
  padding: 1.2rem 2.4rem 1.2rem 1.913rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.login-reset-password-sL3 .frame-2-coR .links-6c7 .books-2Vm {
  margin: 0.015rem 1.112rem 0rem 0rem;
  width: 2.1751rem;
  height: 1.6807rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-reset-password-sL3 .frame-2-coR .links-6c7 .indus-varsity-Zkb {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.03rem;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-reset-password-sL3 .reset-password-Ucf {
  margin: 0rem 20rem 0.4rem 0rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-reset-password-sL3 .use-a-of-minimum-8-characters-1-uppercase-1-special-character-and-numbers-yJX {
  margin-right: 10.2rem;
  max-width: 29.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #4f4f4f;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.login-reset-password-sL3 .auto-group-zt8f-seo {
  box-sizing: border-box;
  padding: 2.1rem 52rem 54.6rem 52rem;
  width: 100%;
  row-gap: 2.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-35-NrT {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-35-NrT .password-84w {
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4000000272;
  letter-spacing: 0.028rem;
  color: #181818;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-35-NrT .frame-15-eJB {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 1.6rem 36.6rem;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-35-NrT .frame-15-eJB .eye-nvB {
  width: 2.0007rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-39-7hZ {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-39-7hZ .confirm-password-V3u {
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4000000272;
  letter-spacing: 0.028rem;
  color: #181818;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-39-7hZ .frame-15-oKV {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 1.6rem 36.6rem;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-39-7hZ .frame-15-oKV .eye-vf1 {
  width: 2.0007rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.login-reset-password-sL3 .auto-group-zt8f-seo .frame-13-Gis {
  width: 100%;
  height: 4.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.03rem;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f36ea;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
