
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-forgot-password-step1-iRM {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.login-forgot-password-step1-iRM .frame-2-qF5 {
  margin-bottom: 8rem;
  box-sizing: border-box;
  padding: 1.4rem 30.4rem 1rem 8.1rem;
  width: 100%;
  height: 6.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fbfbfe;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .frame-2-qF5 .frame-3-kN3 {
  margin: 0.9rem 77.4rem 1rem 0rem;
  box-sizing: border-box;
  padding: 0.13rem 0rem 0rem 0.075rem;
  height: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .frame-2-qF5 .frame-3-kN3 .home-rfy {
  margin: 0rem 0.675rem 0.175rem 0rem;
  width: 2.2495rem;
  height: 2.1953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .frame-2-qF5 .frame-3-kN3 .indus-space-Msd {
  margin-top: 0.0703rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .frame-2-qF5 .links-GDu {
  box-sizing: border-box;
  padding: 1.2rem 2.4rem 1.2rem 1.912rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .frame-2-qF5 .links-GDu .books-Q5D {
  margin: 0.015rem 1.112rem 0rem 0rem;
  width: 2.1751rem;
  height: 1.6807rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .frame-2-qF5 .links-GDu .indus-varsity-6ij {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.03rem;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .forgot-password-cSB {
  margin: 0rem 18.8rem 0.4rem 0rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .a-password-reset-link-will-be-sent-to-the-email-you-give-below-Ld5 {
  margin-right: 6.6rem;
  max-width: 33.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #4f4f4f;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .auto-group-rgr3-ReX {
  box-sizing: border-box;
  padding: 2.1rem 52rem 63.8rem 52rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .auto-group-rgr3-ReX .frame-35-mCb {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .auto-group-rgr3-ReX .frame-35-mCb .email-839 {
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4000000272;
  letter-spacing: 0.028rem;
  color: #181818;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .auto-group-rgr3-ReX .frame-35-mCb .frame-15-16w {
  width: 100%;
  height: 4.4rem;
  background-color: #f2f2f2;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.login-forgot-password-step1-iRM .auto-group-rgr3-ReX .frame-13-wmH {
  width: 100%;
  height: 4.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.03rem;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f36ea;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
