
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.registering-setting-password-xUF {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.registering-setting-password-xUF .frame-2-UhV {
  margin-bottom: 8rem;
  box-sizing: border-box;
  padding: 1.4rem 30.4rem 1rem 8.1rem;
  width: 100%;
  height: 6.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fbfbfe;
  flex-shrink: 0;
}
.registering-setting-password-xUF .frame-2-UhV .frame-3-NXy {
  margin: 0.9rem 77.4rem 1rem 0rem;
  box-sizing: border-box;
  padding: 0.13rem 0rem 0rem 0.075rem;
  height: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.registering-setting-password-xUF .frame-2-UhV .frame-3-NXy .home-6D5 {
  margin: 0rem 0.675rem 0.175rem 0rem;
  width: 2.2495rem;
  height: 2.1953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.registering-setting-password-xUF .frame-2-UhV .frame-3-NXy .indus-space-cx7 {
  margin-top: 0.0703rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registering-setting-password-xUF .frame-2-UhV .links-M91 {
  box-sizing: border-box;
  padding: 1.2rem 2.4rem 1.2rem 1.912rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.registering-setting-password-xUF .frame-2-UhV .links-M91 .books-QNB {
  margin: 0.015rem 1.112rem 0rem 0rem;
  width: 2.1751rem;
  height: 1.6807rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.registering-setting-password-xUF .frame-2-UhV .links-M91 .indus-varsity-idm {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.03rem;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registering-setting-password-xUF .create-password-2eT {
  margin: 0rem 18.8rem 0.4rem 0rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registering-setting-password-xUF .use-a-of-minimum-8-characters-1-uppercase-1-special-character-and-numbers-xHD {
  margin-right: 10.2rem;
  max-width: 29.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #4f4f4f;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu {
  box-sizing: border-box;
  padding: 2.1rem 51.8rem 48.7rem 52rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-35-xgX {
  margin: 0rem 0.2rem 2.1rem 0rem;
  width: 40rem;
  flex-shrink: 0;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-35-xgX .password-f59 {
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4000000272;
  letter-spacing: 0.028rem;
  color: #181818;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-35-xgX .frame-15-mts {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 1.6rem 36.6rem;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 0.6rem;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-35-xgX .frame-15-mts .eye-7xj {
  width: 2.0007rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-39-qNw {
  margin: 0rem 0.2rem 2.1rem 0rem;
  width: 40rem;
  flex-shrink: 0;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-39-qNw .confirm-password-yzw {
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4000000272;
  letter-spacing: 0.028rem;
  color: #181818;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-39-qNw .frame-15-XFm {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 1.6rem 36.6rem;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 0.6rem;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-39-qNw .frame-15-XFm .eye-Sdd {
  width: 2.0007rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .frame-13-PHy {
  margin: 0rem 0.2rem 2.3rem 0rem;
  width: 40rem;
  height: 4.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.03rem;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f36ea;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf {
  margin-left: 0.3rem;
  max-width: 39.9rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  letter-spacing: 0.028rem;
  color: #4f4f4f;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  letter-spacing: 0.028rem;
  color: #4f4f4f;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  letter-spacing: 0.028rem;
  color: #3f36ea;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf-sub-2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  letter-spacing: 0.028rem;
  color: #3f36ea;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf-sub-3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  letter-spacing: 0.028rem;
  color: #4f4f4f;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.registering-setting-password-xUF .auto-group-zcjz-qbu .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf .by-creating-an-account-you-agree-with-our-terms-and-conditions-and-privacy-statement-Gcf-sub-4 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  letter-spacing: 0.028rem;
  color: #3f36ea;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
